@page "/Account/ChangePasswordConfirmation"

@using System.Text

@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities

<PageTitle>Change password confirmation</PageTitle>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mt-5">
                <div class="card-header bg-success text-white text-center">
                    <h4>Yêu cầu đổi mật khẩu thành công</h4>
                </div>
                <div class="card-body text-center">
                    <p class="lead">Bạn đã gửi một yêu cầu đổi mật khẩu!</p>
                    <p>Chúng tôi đã gửi một email xác nhận đến địa chỉ email của bạn. Vui lòng kiểm tra email và xác nhận yêu cầu đổi mật khẩu.</p>
                    <p class="text-muted">Nếu bạn không thấy email trong hộp thư đến, vui lòng kiểm tra thư mục Thư rác hoặc Spam.</p>
                </div>
                <a href="/Account/Login" class="btn btn-default w-100 mt-1">Quay lại màn hình Đăng nhập</a>
            </div>
        </div>
    </div>
</div>

