@page "/Account/Lockout"


<PageTitle>Locked out</PageTitle>

<header>
    <h1 class="text-danger">Locked out</h1>
    <p class="text-danger">Tài khoản của bạn đã bị khóa. Vui lòng liên hệ quản trị viên để mở khóa.</p>
</header>

<a href="/Account/Login" class="btn btn-default w-100 mt-1">Quay lại màn hình Đăng nhập</a>