
<div class="email-container">
    <div class="header">
        <h1>Xác Thực Đăng Nhập</h1>
    </div>
    <div class="content">
        <p>Xin chào,</p>
        <p>Mã xác nhận của bạn để đăng nhập vào hệ thống là:</p>
        <h2>@confirmCode</h2>
        <p>Vui lòng nhập mã này vào biểu mẫu xác nhận để hoàn tất quá trình đăng nhập. Mã này chỉ có hiệu lực trong vòng 1 phút.</p>
        <p>Xin chân thành cảm ơn!</p>
        <p><strong>Lưu ý:</strong></p>
        <p>Tài khoản chỉ có hiệu lực trong vòng 1 tuần.</p>
        <p>Đây là email được gửi tự động từ hệ thống, vui lòng không trả lời vào địa chỉ này. Mọi thông tin thắc mắc xin vui lòng liên hệ: <a href="mailto:xxxxxxxx@gmail.com">xxxxxxxx@gmail.com</a></p>
    </div>
    <div class="footer">
        <p>Trân trọng,</p>
        <p>Công ty cổ phần xây dựng Đức Anh</p>
    </div>
</div>