
@if (Show)
{
    <div class="model show" tabindex="-1" role="dialog" style="display:block; position: absolute; top: 5%; left: 0; right: 0; margin: auto; z-index: 1034;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <div class="model-title">
                        <h3>@Title</h3>
                    </div>
                </div>
                <div class="modal-body">@message</div>
                <div class="modal-footer">
                    <button class="btn btn-success justify-content-center" @onclick="() => Confirm(true)">Xác nhận</button>
                    <button class="btn btn-success justify-content-center" @onclick="() => Confirm(false)">Hủy bỏ</button>
                </div>
            </div>
        </div>
    </div>
}
@code {
    public bool Show { get; set; }

    [Parameter]
    public string Title { get; set; } = "Xác nhận đăng ký";

    [Parameter]
    public string message { get; set; } = "Bạn có muốn đăng ký?";

    [Parameter]
    public EventCallback<bool> OnResponseClick { get; set; }

    public async Task Confirm(bool value)
    {
        Show = false;
        await OnResponseClick.InvokeAsync(value);
    }

    public void openModal()
    {
        Show = true;
        StateHasChanged();
    }

}