
@if (Show)
{
    <div class="model show" tabindex="-1" role="dialog" style="display:block; position: absolute; top: 5%; left: 0; right: 0; margin: auto; z-index: 100;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <div class="model-title">
                        <h3>@Title</h3>
                    </div>
                </div>
                <div class="modal-body">@message</div>
                <div class="modal-footer justify-content-center">
                    <button class="btn btn-success" @onclick="() => closeModal(true)">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>
}
@code {
    public bool Show { get; set; }

    [Parameter]
    public string Title { get; set; } = "Có lỗi phát sinh";

    [Parameter]
    public string message { get; set; } = "Đã có lỗi phát sinh!";

    [Parameter]
    public EventCallback<bool> OnResponseClick { get; set; }

    public void openModal()
    {
        Show = true;
        StateHasChanged();
    }

    public async Task closeModal(bool value)
    {
        Show = false;
        await OnResponseClick.InvokeAsync(value);
    }

}