@using DucAnhERP.Helpers
@inject IJSRuntime JSRuntime

<select id="@Id" class="form-control">
    @if (Items != null && Items.Any())
    {
        @foreach (var item in Items)
        {
            <option value="@item.Value">@item.Text</option>
        }
    }
</select>

@code {
    [Parameter] public string Id { get; set; }
    [Parameter] public List<SelectedItem> Items { get; set; } = new List<SelectedItem>();
    [Parameter] public EventCallback<SelectedItem> OnChange { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("select2Blazor.initSelect2", Id);
        }
    }

    private async Task OnChangeHandler(ChangeEventArgs e)
    {
        string selectedValue = e.Value?.ToString();
        SelectedItem selectedItem = Items.FirstOrDefault(item => item.Value == selectedValue);

        if (selectedItem != null)
        {
            await OnChange.InvokeAsync(selectedItem);
        }
    }
}
