
@implements IDisposable

@inject NavigationManager NavigationManager


<aside class="main-sidebar elevation-4 sidebar-dark-cyan sidemenu_backgroud">

    <a href="/" class="brand-link text-sm bg-cyan p-20">
        <img src="adminlte/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Trang chủ</span>
    </a>

    <div class="sidebar os-theme-dark">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column text-sm" data-widget="treeview" role="menu" data-accordion="false">
                @* Hệ thống *@
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                            Hệ thống
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <NavLink href="phanquyencaidats" class="nav-link">
                                <p class="pl-4">Quản lý tài khoản</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <p class="pl-4">
                                    Cài đặt
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" style="display: none;">
                                @* <li class="nav-item">
                                <NavLink href="/MPermissions/createQuyen/f2ee47e5-04b5-4f19-a5ac-3311e0122140" class="nav-link">
                                <p class="pl-4">Phân quyền</p>
                                </NavLink>
                                </li> *@

                                <li class="nav-item">
                                    <NavLink href="/createPhongBanDuyet" class="nav-link">
                                        <p class="pl-4">Cài đặt phòng ban duyệt</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/createLuotDuyet" class="nav-link">
                                        <p class="pl-4">Cài đặt số lượt duyệt</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/PheDuyet/ApprovalControls" class="nav-link">
                                        <p class="pl-4">Phân quyền cài đặt thao tác</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/PheDuyet/MajorUserApprovals" class="nav-link">
                                        <p class="pl-4">Phân quyền cài đặt duyệt</p>
                                    </NavLink>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </li>
                @* Quản lý nhân viên *@
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                            Quản lý nhân viên
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                       
                        <li class="nav-item">
                            <NavLink href="QLNV/Nhanvien" class="nav-link">
                                <p class="pl-4">Nhân viên</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="QLNV/NhomNhanVien" class="nav-link">
                                <p class="pl-4">Nhóm nhân viên</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="QLNV/QuanLyNhanVien" class="nav-link">
                                <p class="pl-4">Quản lý nhân viên</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="QLNV/CongViec" class="nav-link">
                                <p class="pl-4">Công việc</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="QLNV/DanhGia" class="nav-link">
                                <p class="pl-4">Đánh giá</p>
                            </NavLink>
                        </li>

                        <li class="nav-item">
                            <NavLink href="QLNV/QuanLyCongViec" class="nav-link">
                                <p class="pl-4">Quản lý công việc</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="QLNV/CongViecDuocGiao" class="nav-link">
                                <p class="pl-4">Công việc được giao</p>
                            </NavLink>
                        </li>
                    </ul>
                </li>
                @* GPMB *@
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                            Giải phóng mặt bằng
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <NavLink href="GPMB/QD_BoiThuong_Gocs" class="nav-link">
                                <p class="pl-4">Số QĐ bồi thường gốc</p>
                            </NavLink>
                        </li>

                        <li class="nav-item">
                            <NavLink href="GPMB/QD_ThuHoiDat_Gocs" class="nav-link">
                                <p class="pl-4">Số QĐ thu hồi đất gốc</p>
                            </NavLink>
                        </li>

                    </ul>
                </li>

                @* Bồi thường 26/02/2025 *@
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                            Bồi thường
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                         <li class="nav-item">
                            <NavLink href="BoiThuong/QDPABTKHopGPMBNhanh" class="nav-link">
                                <p class="pl-4">1. QĐ PABT K.hợp GPMBN</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="BoiThuong/QDPABTKHopTHoiDat" class="nav-link">
                                <p class="pl-4">1.1 QĐ PABT K.Hợp TH Đ</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="BoiThuong/QDPABTDChinh" class="nav-link">
                                <p class="pl-4">2. QĐ PABT Đ.Chỉnh</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="BoiThuong/QDGPMBNhanhDChinh" class="nav-link">
                                <p class="pl-4">2.1 QĐ GPMB nhanh ĐC</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="BoiThuong/QDTHoiDatDChinh" class="nav-link">
                                <p class="pl-4">2.2 QĐ T.Hồi đất ĐC</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="BoiThuong/CTietPAnBThuong" class="nav-link">
                                <p class="pl-4">4. C.Tiết P.Án B.Thường</p>
                            </NavLink>
                        </li>
                        <li class="nav-item" style="padding: .4rem .8rem;">
                            <a href="#" class="nav-link">
                                <p>
                                    Danh Mục
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <NavLink href="/BoiThuong/DanhMuc/LoaiChungTu" class="nav-link">
                                        <p class="pl-4">Loại chứng từ</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/BoiThuong/DanhMuc/HinhThucThuChi" class="nav-link">
                                        <p class="pl-4">Hình thức thu chi</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/BoiThuong/DanhMuc/HangMucChi" class="nav-link">
                                        <p class="pl-4">Hạng mục chi</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/BoiThuong/DanhMuc/QDBoiThuongGoc" class="nav-link">
                                        <p class="pl-4">Số QĐ bồi thường gốc</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/BoiThuong/DanhMuc/QDThuHoiDatGoc" class="nav-link">
                                        <p class="pl-4">Số QĐ thu hồi đất gốc</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/BoiThuong/DanhMuc/QDTGPMBNhanhGoc" class="nav-link">
                                        <p class="pl-4">Số QĐ thưởng GPMB nhanh gốc</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/BoiThuong/DanhMuc/QDCVChiPhiHoiDong" class="nav-link">
                                        <p class="pl-4">Số QĐ/CV chi phí hội đồng</p>
                                    </NavLink>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                @* Nhân sự *@
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                            Nhân sự
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <NavLink href="phanquyencaidats" class="nav-link">
                                <p class="pl-4">Hợp đồng</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="caidatduyets" class="nav-link">
                                <p class="pl-4">Bộ phận chức vụ</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="phanquyenthaotacs" class="nav-link">
                                <p class="pl-4">Lương</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="PhanQuyenDuyets" class="nav-link">
                                <p class="pl-4">Bảo hiểm</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="PhanQuyenDuyets" class="nav-link">
                                <p class="pl-4">Chấm công</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="PhanQuyenDuyets" class="nav-link">
                                <p class="pl-4">Điều chuyển</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="PhanQuyenDuyets" class="nav-link">
                                <p class="pl-4">Thanh lý</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="PhanQuyenDuyets" class="nav-link">
                                <p class="pl-4">Cài đặt công</p>
                            </NavLink>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link">
                                <p class="pl-4">
                                    Cài đặt
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" style="display: none;">
                                <li class="nav-item">
                                    <NavLink href="/NhanSu/Departments" class="nav-link">
                                        <p class="pl-4">Quản lý phòng ban</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/NhanSu/DepartmentUsers" class="nav-link">
                                        <p class="pl-4">Quản lý người dùng theo phòng ban</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/MPermissions/createQuyen/ff9590bc-7b3b-4f9b-a7fd-913c248beadf" class="nav-link">
                                        <p class="pl-4">Phân quyền</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/createPhongBanDuyet/f2ee47e5-04b5-4f19-a5ac-3311e0122140" class="nav-link">
                                        <p class="pl-4">Cài đặt phòng ban duyệt</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/createLuotDuyet/f2ee47e5-04b5-4f19-a5ac-3311e0122140" class="nav-link">
                                        <p class="pl-4">Cài đặt số lượt duyệt</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="PhanQuyenDuyets" class="nav-link">
                                        <p class="pl-4">Cài đặt người duyệt</p>
                                    </NavLink>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </li>

                @*Thống kê điện*@
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="nav-icon fas fa-bolt"></i>
                        <p>
                            Thống kê điện
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                       <li class="nav-item">
                            <NavLink href="/ThongKeDien/TTLDienCDien" class="nav-link">
                                <p class="pl-4">1.T.Tin L.Đặt C.Điện</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="/ThongKeDien/XDungCDien" class="nav-link">
                                <p class="pl-4">1.1 X.Dựng C.Điện</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="/ThongKeDien/CDoCDien" class="nav-link">
                                <p class="pl-4">1.2 C.Độ C.Điện</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="/ThongKeDien/DaoCDien" class="nav-link">
                                <p class="pl-4">1.3 Đào C.Điện</p>
                            </NavLink>
                        </li>
                        <li class="nav-item" style="padding: .4rem .8rem;">
                            <a href="#" class="nav-link">
                                <p>
                                    Danh Mục
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <NavLink href="/ThongKeDien/DanhMuc/DM_TuyenDuong" class="nav-link">
                                        <p class="pl-4">DM Tuyến đường</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/ThongKeDien/DanhMuc/DM_HangMucKL" class="nav-link">
                                        <p class="pl-4">HM khối lượng</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/ThongKeDien/DanhMuc/DM_LoaiKL" class="nav-link">
                                        <p class="pl-4">Loại khối lượng</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/ThongKeDien/DanhMuc/DM_ThongTinVatTu" class="nav-link">
                                        <p class="pl-4">Thông tin vật tư</p>
                                    </NavLink>
                                </li>
                            </ul>
                        </li>
                      
                    </ul>
                </li>

                @* Quản lý thiết bị *@
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="nav-icon fas fa-truck"></i>
                        <p>
                            Quản lý thiết bị
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <NavLink href="phanquyencaidats" class="nav-link">
                                <p class="pl-4">Tài sản cố định</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="caidatduyets" class="nav-link">
                                <p class="pl-4">Quản lý thiết bị</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="phanquyenthaotacs" class="nav-link">
                                <p class="pl-4">Người vận hành</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="PhanQuyenDuyets" class="nav-link">
                                <p class="pl-4">Nhiên liệu</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="PhanQuyenDuyets" class="nav-link">
                                <p class="pl-4">Điều chuyển</p>
                            </NavLink>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link">
                                <p class="pl-4">
                                    Cài đặt
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" style="display: none;">
                                <li class="nav-item">
                                    <NavLink href="PhanQuyenDuyets" class="nav-link">
                                        <p class="pl-4">Phân quyền</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="PhanQuyenDuyets" class="nav-link">
                                        <p class="pl-4">Cài đặt phòng ban duyệt</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="PhanQuyenDuyets" class="nav-link">
                                        <p class="pl-4">Cài đặt số lượt duyệt</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="PhanQuyenDuyets" class="nav-link">
                                        <p class="pl-4">Cài đặt người duyệt</p>
                                    </NavLink>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                @* Thí nghiệm *@
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="nav-icon fas fa-vial"></i>
                        <p>
                            Thí nghiệm
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <NavLink href="phanquyencaidats" class="nav-link">
                                <p class="pl-4">Định mức</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="caidatduyets" class="nav-link">
                                <p class="pl-4">Cấp phối</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="phanquyenthaotacs" class="nav-link">
                                <p class="pl-4">Thí nghiệm</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="PhanQuyenDuyets" class="nav-link">
                                <p class="pl-4">Bảng tính giá</p>
                            </NavLink>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link">
                                <p class="pl-4">
                                    Cài đặt
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" style="display: none;">
                                <li class="nav-item">
                                    <NavLink href="PhanQuyenDuyets" class="nav-link">
                                        <p class="pl-4">Phân quyền</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="PhanQuyenDuyets" class="nav-link">
                                        <p class="pl-4">Cài đặt phòng ban duyệt</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="PhanQuyenDuyets" class="nav-link">
                                        <p class="pl-4">Cài đặt số lượt duyệt</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="PhanQuyenDuyets" class="nav-link">
                                        <p class="pl-4">Cài đặt người duyệt</p>
                                    </NavLink>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                @* Hợp đồng bê tông *@
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="nav-icon fas fa-building"></i>
                        <p>
                            Hợp đồng bê tông
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <NavLink href="phanquyencaidats" class="nav-link">
                                <p class="pl-4">Hợp đồng bán bê tông</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="phanquyencaidats" class="nav-link">
                                <p class="pl-4">Hợp đồng mua bê tông</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="caidatduyets" class="nav-link">
                                <p class="pl-4">Hợp đồng thuê bơm</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="phanquyenthaotacs" class="nav-link">
                                <p class="pl-4">Hợp đồng thuê xe</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="PhanQuyenDuyets" class="nav-link">
                                <p class="pl-4">Lịch xuất hàng</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="phanquyencaidats" class="nav-link">
                                <p class="pl-4">Xuất bê tông</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="caidatduyets" class="nav-link">
                                <p class="pl-4">Giá cước</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="phanquyenthaotacs" class="nav-link">
                                <p class="pl-4">Giá vật liệu</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="PhanQuyenDuyets" class="nav-link">
                                <p class="pl-4">Giá công trộn</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="PhanQuyenDuyets" class="nav-link">
                                <p class="pl-4">Lương sản lượng</p>
                            </NavLink>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link">
                                <p class="pl-4">
                                    Cài đặt
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" style="display: none;">
                                <li class="nav-item">
                                    <NavLink href="PhanQuyenDuyets" class="nav-link">
                                        <p class="pl-4">Phân quyền</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="PhanQuyenDuyets" class="nav-link">
                                        <p class="pl-4">Cài đặt phòng ban duyệt</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="PhanQuyenDuyets" class="nav-link">
                                        <p class="pl-4">Cài đặt số lượt duyệt</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="PhanQuyenDuyets" class="nav-link">
                                        <p class="pl-4">Cài đặt người duyệt</p>
                                    </NavLink>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                @* Nhập kho *@
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="nav-icon fas fa-download"></i>
                        <p>
                            Nhập kho
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <NavLink href="phanquyencaidats" class="nav-link">
                                <p class="pl-4">Hợp đồng mua vật liệu</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="phanquyencaidats" class="nav-link">
                                <p class="pl-4">Hợp đồng thuê xe</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="caidatduyets" class="nav-link">
                                <p class="pl-4">Lịch nhập kho</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="phanquyenthaotacs" class="nav-link">
                                <p class="pl-4">Nhập kho - Vật liệu</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="PhanQuyenDuyets" class="nav-link">
                                <p class="pl-4">Nhập kho - Thiết bị</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="phanquyencaidats" class="nav-link">
                                <p class="pl-4">Nhập kho - Phụ tùng</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="caidatduyets" class="nav-link">
                                <p class="pl-4">Nhập kho - Phiếu đề nghị</p>
                            </NavLink>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link">
                                <p class="pl-4">
                                    Cài đặt
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" style="display: none;">
                                <li class="nav-item">
                                    <NavLink href="PhanQuyenDuyets" class="nav-link">
                                        <p class="pl-4">Phân quyền</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="PhanQuyenDuyets" class="nav-link">
                                        <p class="pl-4">Cài đặt phòng ban duyệt</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="PhanQuyenDuyets" class="nav-link">
                                        <p class="pl-4">Cài đặt số lượt duyệt</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="PhanQuyenDuyets" class="nav-link">
                                        <p class="pl-4">Cài đặt người duyệt</p>
                                    </NavLink>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                @* Xuất kho *@
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="nav-icon fas fa-upload"></i>
                        <p>
                            Xuất kho
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <NavLink href="phanquyencaidats" class="nav-link">
                                <p class="pl-4">Lịch xuất kho</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="phanquyencaidats" class="nav-link">
                                <p class="pl-4">Xuất kho</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="caidatduyets" class="nav-link">
                                <p class="pl-4">Phiếu đề nghị</p>
                            </NavLink>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link">
                                <p class="pl-4">
                                    Cài đặt
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" style="display: none;">
                                <li class="nav-item">
                                    <NavLink href="PhanQuyenDuyets" class="nav-link">
                                        <p class="pl-4">Phân quyền</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="PhanQuyenDuyets" class="nav-link">
                                        <p class="pl-4">Cài đặt phòng ban duyệt</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="PhanQuyenDuyets" class="nav-link">
                                        <p class="pl-4">Cài đặt số lượt duyệt</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="PhanQuyenDuyets" class="nav-link">
                                        <p class="pl-4">Cài đặt người duyệt</p>
                                    </NavLink>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                @* Cài đặt hệ thống *@
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="nav-icon fas fa-wrench"></i>
                        <p>
                            Cài đặt hệ thống
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <NavLink href="/CaiDatHeThong/PermissionControls" class="nav-link">
                                <p class="pl-4">Cài đặt quản lý quyền</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="CaiDatHeThong/MajorUserPermissions" class="nav-link">
                                <p class="pl-4">Quản lý quyền theo người dùng, nghiệp vụ</p>
                            </NavLink>
                        </li>
                    </ul>
                </li>

                @* Danh mục *@
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                            Danh mục
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <NavLink href="DanhMuc/Departments" class="nav-link">
                                <p class="pl-4">Quản lý phòng ban</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="danhmuc/tinhs" class="nav-link">
                                <p class="pl-4">Tỉnh</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="danhmuc/huyens" class="nav-link">
                                <p class="pl-4">Huyện</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="danhmuc/xas" class="nav-link">
                                <p class="pl-4">Xã</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="danhmuc/khuhanhchinhs" class="nav-link">
                                <p class="pl-4">Khu hành chính</p>
                            </NavLink>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>

    </div>

</aside>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

