@implements IDisposable

@inject NavigationManager NavigationManager


<aside class="main-sidebar elevation-4 sidebar-dark-cyan sidemenu_backgroud">

    <a href="/" class="brand-link text-sm bg-cyan p-20">
        <img src="adminlte/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Trang chủ</span>
    </a>

    <div class="sidebar os-theme-dark">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column text-sm" data-widget="treeview" role="menu" data-accordion="false">

                @* Nhân sự *@
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                            Nhân sự
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <NavLink href="phanquyencaidats" class="nav-link">
                                <p class="pl-4">Hợp đồng</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="caidatduyets" class="nav-link">
                                <p class="pl-4">Bộ phận chức vụ</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="phanquyenthaotacs" class="nav-link">
                                <p class="pl-4">Lương</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="PhanQuyenDuyets" class="nav-link">
                                <p class="pl-4">Bảo hiểm</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="PhanQuyenDuyets" class="nav-link">
                                <p class="pl-4">Chấm công</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="PhanQuyenDuyets" class="nav-link">
                                <p class="pl-4">Điều chuyển</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="PhanQuyenDuyets" class="nav-link">
                                <p class="pl-4">Thanh lý</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="PhanQuyenDuyets" class="nav-link">
                                <p class="pl-4">Cài đặt công</p>
                            </NavLink>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link">
                                <p class="pl-4">
                                    Cài đặt
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" style="display: none;">
                                <li class="nav-item">
                                    <NavLink href="/MPermissions/createQuyen/ff9590bc-7b3b-4f9b-a7fd-913c248beadf" class="nav-link">
                                        <p class="pl-4">Phân quyền</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/createPhongBanDuyet/ff9590bc-7b3b-4f9b-a7fd-913c248beadf" class="nav-link">
                                        <p class="pl-4">Cài đặt phòng ban duyệt</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/createLuotDuyet/ff9590bc-7b3b-4f9b-a7fd-913c248beadf" class="nav-link">
                                        <p class="pl-4">Cài đặt số lượt duyệt</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="PhanQuyenDuyets" class="nav-link">
                                        <p class="pl-4">Cài đặt người duyệt</p>
                                    </NavLink>
                                </li>
                               
                            </ul>
                        </li>

                    </ul>
                </li>

                @* Nghiệp vụ công trình qminh-12/08/2024 *@
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="nav-icon fas  fa-road"></i>
                        <p>
                            Nghiệp vụ công trình
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <NavLink href="/NghiepVuCongtrinh/listNuocMua" class="nav-link">
                                <p class="pl-4">DS nước mưa </p>
                            </NavLink>
                        </li>
                       @*  <li class="nav-item">
                            <NavLink href="/NghiepVuCongtrinh/listMangThu" class="nav-link">
                                <p class="pl-4">DS Máng thu </p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="/NghiepVuCongtrinh/Test" class="nav-link">
                                <p class="pl-4">Test </p>
                            </NavLink>
                        </li> *@
                        <li class="nav-item">
                            <NavLink href="/NghiepVuCongtrinh/UploadNuocMua" class="nav-link">
                                <p class="pl-4">Upload nước mưa</p>
                            </NavLink>
                        </li>
                        <li class="nav-item" style="padding: .4rem .8rem;">
                            <a href="#" class="nav-link">
                                <p>
                                    Danh Mục
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <NavLink href="/NghiepVuCongtrinh/DanhMuc" class="nav-link">
                                        <p class="pl-4">DS Danh mục</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/NghiepVuCongtrinh/NhomDanhMuc" class="nav-link">
                                        <p class="pl-4">Nhóm danh mục</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/NghiepVuCongtrinh/DMTLThep" class="nav-link">
                                        <p class="pl-4">DM trọng lượng thép</p>
                                    </NavLink>
                                </li>

                            </ul>
                        </li>
                       
                        <li class="nav-item" style="padding: .4rem .8rem;">
                            <a href="#" class="nav-link">
                                <p>
                                    Phân loại
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <NavLink href="/NghiepVuCongtrinh/PhanLoaiHoGa" class="nav-link">
                                        <p class="pl-4">Phân loại hố ga</p>
                                    </NavLink>

                                </li>
                                <li class="nav-item">
                                    <NavLink href="/NghiepVuCongtrinh/PhanLoaiCong" class="nav-link">
                                        <p class="pl-4">Phân loại cống</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/NghiepVuCongtrinh/PhanLoaiMong" class="nav-link">
                                        <p class="pl-4">Phân loại móng</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/NghiepVuCongtrinh/PhanLoaiDeCong" class="nav-link">
                                        <p class="pl-4">Phân loại đế cống</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/NghiepVuCongtrinh/PhanLoaiThanhChong" class="nav-link">
                                        <p class="pl-4">Phân loại thanh chống</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/NghiepVuCongtrinh/PhanLoaiTDHG" class="nav-link">
                                        <p class="pl-4">Phân loại TĐan HGa</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/NghiepVuCongtrinh/PhanLoaiTDTD" class="nav-link">
                                        <p class="pl-4">Phân loại TĐan T.Dẫn</p>
                                    </NavLink>
                                </li>

                            </ul>
                        </li>

                        <li class="nav-item" style="padding: .4rem .8rem;">
                            <a href="#" class="nav-link">
                                <p>
                                    Báo cáo
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <NavLink href="/BaoCao/TTHoGa" class="nav-link">
                                        <p class="pl-4">2.TT Hố Ga</p>
                                    </NavLink>

                                </li>
                                <li class="nav-item">
                                    <NavLink href="/BaoCao/KLDaoBPhapHGa" class="nav-link">
                                        <p class="pl-4">2.1 KL đào B.Pháp H.Ga</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/BaoCao/CTaoChungHGa" class="nav-link">
                                        <p class="pl-4">2.2 C.Tạo chung H.Ga</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/BaoCao/KTHHHGa" class="nav-link">
                                        <p class="pl-4">2.3 KTHH H.Ga</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/BaoCao/KHopHGaTDan" class="nav-link">
                                        <p class="pl-4">2.4 K.Hợp H.Ga và T.Đan</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/BaoCao/KTHHTDanHGa" class="nav-link">
                                        <p class="pl-4">2.5 KTHH T.Đan H.Ga</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/BaoCao/TongSLHGa" class="nav-link">
                                        <p class="pl-4">2.6 Tổng SL H.Ga</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/BaoCao/TongSLHGaTTuyen" class="nav-link">
                                        <p class="pl-4">2.7 Tổng SL H.Ga T.Tuyến</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/BaoCao/TongSLTDanHGa" class="nav-link">
                                        <p class="pl-4">2.8 Tổng SL T.Đan H.Ga</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/BaoCao/TongSLTDanHGaTTuyen" class="nav-link">
                                        <p class="pl-4">2.9 SL T.Đan H.Ga T.Tuyến</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/BaoCao/HGaSDThep" class="nav-link">
                                        <p class="pl-4">2.10 H.Ga sử dụng thép</p>
                                    </NavLink>
                                </li>
                                 <li class="nav-item">
                                    <NavLink href="/BaoCao/TDanHGaSDThep" class="nav-link">
                                        <p class="pl-4">2.11 T.Đan H.Ga SD thép</p>
                                    </NavLink>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item" style="padding: .4rem .8rem;">
                            <a href="#" class="nav-link">
                                <p>
                                    Thống kê thép
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <NavLink href="/ThongKe/TKThepHGa" class="nav-link">
                                        <p class="pl-4">2.12 TK thép H.Ga</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/ThongKe/TKThepTDan" class="nav-link">
                                        <p class="pl-4">2.13 TK thép T.Đan</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/TKThep/TKThepCongTron" class="nav-link" title="BẢNG THỐNG KÊ THÉP CỐNG TRÒN">
                                        <p class="pl-4">3.41 TK thép C.Tròn</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/TKThep/TKThepMongCongTron" class="nav-link" title="BẢNG THỐNG KÊ THÉP MÓNG CỐNG TRÒN">
                                        <p class="pl-4">3.42 TK thép móng C.Tròn</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/TKThep/TKThepDeCong" class="nav-link" title="BẢNG THỐNG KÊ THÉP ĐẾ CỐNG">
                                        <p class="pl-4">3.43 TK thép đế cống</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/TKThep/TKThepCongHop" class="nav-link" title="BẢNG THỐNG KÊ THÉP CỐNG HỘP">
                                        <p class="pl-4">3.44 TK thép C.Hộp</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/TKThep/TKThepMongCongHop" class="nav-link" title="BẢNG THỐNG KÊ THÉP MÓNG CỐNG HỘP">
                                        <p class="pl-4">3.45 TK thép móng C.Hộp</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/TKThep/TKThepTDanCongHop" class="nav-link" title="BẢNG THỐNG KÊ THÉP TẤM ĐAN CỐNG HỘP">
                                        <p class="pl-4">3.46 TK thép T.Đan C.Hộp</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/TKThep/TKThepTDanCongHop" class="nav-link" title="BẢNG THỐNG KÊ THÉP TẤM ĐAN CỐNG HỘP">
                                        <p class="pl-4">3.46 TK thép T.Đan C.Hộp</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/TKThep/TKThepRanhXay" class="nav-link" title="BẢNG THỐNG KÊ 01M THÉP RÃNH XÂY">
                                        <p class="pl-4">3.47 TK thép R.Xây</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/TKThep/TKThepTDanRanhXay" class="nav-link" title="BẢNG THỐNG KÊ THÉP 01 TẤM ĐAN RÃNH XÂY">
                                        <p class="pl-4">3.48 TK thép T.Đan R.Xây</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/TKThep/TKThepThanhChong" class="nav-link" title="BẢNG THỐNG KÊ THÉP THANH CHỐNG">
                                        <p class="pl-4">3.49 TK thép T.Chống</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/TKThep/TKThepRanhBTong" class="nav-link" title="BẢNG THỐNG KÊ 01M THÉP RÃNH BÊ TÔNG">
                                        <p class="pl-4">3.50 TK thép Rãnh B.Tông </p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/TKThep/TKThepTDanRBTong" class="nav-link" title="BẢNG THỐNG KÊ THÉP 01 TẤM ĐAN RÃNH BÊ TÔNG">
                                        <p class="pl-4">3.51 TK thép TĐanRBTông </p>
                                    </NavLink>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item" style="padding: .4rem .8rem;">
                            <a href="#" class="nav-link">
                                <p>
                                    PKKL
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <NavLink href="/PKKL/HoGa" class="nav-link">
                                        <p class="pl-4">2.14 C.Tiết 1 Hố ga</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/PKKL/ChatMaTuong" class="nav-link">
                                        <p class="pl-4">2.15 Chát má tường +VK</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/PKKL/PKKLCongTron" class="nav-link" title="BẢNG PHÂN KHAI KHỐI LƯỢNG CHI TIẾT 01 CỐNG TRÒN">
                                        <p class="pl-4">3.52 PKKL C.Tròn</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/PKKL/THKLCongtron" class="nav-link" title="BẢNG TỔNG HỢP KHỐI LƯỢNG CỐNG TRÒN THEO LOẠI CỐNG TRÒN THEO TUYẾN">
                                        <p class="pl-4">3.53 THKL cống tròn</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/PKKL/PKKLMongCongTron" class="nav-link" title="BẢNG PHÂN KHAI KHỐI LƯỢNG CHI TIẾT 01M MÓNG CỐNG TRÒN">
                                        <p class="pl-4">3.54 PKKL móng C.Tròn</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/PKKL/THKLMongCongtron" class="nav-link" title="BẢNG TỔNG HỢP KHỐI LƯỢNG MÓNG CỐNG TRÒN THEO LOẠI MÓNG CỐNG TRÒN THEO TUYẾN">
                                        <p class="pl-4">3.55 THKL móng C.Tròn</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/PKKL/PKKLDeCongTron" class="nav-link" title="BẢNG PHÂN KHAI KHỐI LƯỢNG CHI TIẾT 01 ĐẾ CỐNG">
                                        <p class="pl-4">3.56 PKKL đế cống</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/PKKL/THKLDeCong" class="nav-link" title="BẢNG TỔNG HỢP KHỐI LƯỢNG ĐẾ CỐNG THEO LOẠI ĐẾ CỐNG THEO TUYẾN">
                                        <p class="pl-4">3.57 THKL đế cống</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/PKKL/PKKLCongHop" class="nav-link" title="BẢNG PHÂN KHAI KHỐI LƯỢNG CHI TIẾT 01 CỐNG HỘP LẮP ĐẶT">
                                        <p class="pl-4">3.58 PKKL C.Hộp</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/PKKL/THKLCongHop" class="nav-link" title="BẢNG TỔNG HỢP KHỐI LƯỢNG CỐNG HỘP LẮP ĐẶT THEO LOẠI CỐNG HỘP LẮP ĐẶT THEO TUYẾN">
                                        <p class="pl-4">3.59 THKL C.hộp</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/PKKL/PKKLMongCongHop" class="nav-link" title="BẢNG PHÂN KHAI KHỐI LƯỢNG CHI TIẾT 01M MÓNG CỐNG HỘP LẮP ĐẶT">
                                        <p class="pl-4">3.60 PKKL móng C.hộp</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/PKKL/THKLMongCongHop" class="nav-link" title="BẢNG TỔNG HỢP KHỐI LƯỢNG MÓNG CỐNG HỘP LẮP ĐẶT THEO LOẠI MÓNG CỐNG HỘP LẮP ĐẶT THEO TUYẾN">
                                        <p class="pl-4">3.61 THKL Móng C.Hộp</p>
                                    </NavLink>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item" style="padding: .4rem .8rem;">
                            <a href="#" class="nav-link">
                                <p>
                                    THLT T.Dẫn
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item" title="BẢNG THÔNG TIN TỔNG HỢP LÝ TRÌNH TUYẾN NƯỚC MƯA ">
                                    <NavLink href="/THLT/THLTTDan" class="nav-link">
                                        <p class="pl-4">3. TH L.Trình T.Dẫn</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item" title="BẢNG THÔNG TIN CAO ĐỘ TUYẾN NƯỚC MƯA ">
                                    <NavLink href="/THLT/THTTCDo" class="nav-link">
                                        <p class="pl-4">3.1 TH thông tin C.Độ</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item" title="BẢNG THÔNG TIN ĐẤT ĐÀO BIỆN PHÁP TUYẾN NƯỚC MƯA">
                                    <NavLink href="/THLT/KLDaoBPhap" class="nav-link">
                                        <p class="pl-4">3.2 KL đào B.Pháp</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item" title="BẢNG THÔNG TIN ĐẮP CÁT TUYẾN NƯỚC MƯA DỌC">
                                    <NavLink href="/THLT/KLDapCat" class="nav-link">
                                        <p class="pl-4">3.3 KL đắp cát</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item" title="BẢNG THÔNG TIN CẤU TẠO VÀ KÍCH THƯỚC HÌNH HỌC CỐNG TRÒN, MÓNG CỐNG TRÒN, MÓNG CỐNG HỘP, ĐẾ CỐNG TRÒN">
                                    <NavLink href="/THLT/KTHHMDC" class="nav-link">
                                        <p class="pl-4">3.4 KTHH MDCH</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item" title="BẢNG THÔNG TIN CẤU TẠO VÀ KÍCH THƯỚC HÌNH HỌC ỐNG NHỰA">
                                    <NavLink href="/THLT/KTHHONhua" class="nav-link">
                                        <p class="pl-4">3.5 KTHH Ô.Nhựa</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item" title="BẢNG THÔNG TIN CẤU TẠO VÀ KÍCH THƯỚC HÌNH HỌC CỐNG HỘP">
                                    <NavLink href="/THLT/KTHHCHop" class="nav-link">
                                        <p class="pl-4">3.6 KTHH C.Hộp</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item" title="BẢNG THÔNG TIN CẤU TẠO VÀ KÍCH THƯỚC HÌNH HỌC TẤM ĐAN CỐNG HỘP">
                                    <NavLink href="/THLT/KTHHTDCH" class="nav-link">
                                        <p class="pl-4">3.7 KTHH T.Đan C.Hộp</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item" title="BẢNG THÔNG TIN CẤU TẠO VÀ KÍCH THƯỚC HÌNH HỌC RÃNH XÂY">
                                    <NavLink href="/THLT/KTHHRX" class="nav-link">
                                        <p class="pl-4">3.8 KTHH RX</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item" title="BẢNG THÔNG TIN CẤU TẠO VÀ KÍCH THƯỚC HÌNH HỌC THANH CHỐNG">
                                    <NavLink href="/THLT/KTHHTC" class="nav-link">
                                        <p class="pl-4">3.9 KTHH T.Chống</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item" title="BẢNG THÔNG TIN CẤU TẠO VÀ KÍCH THƯỚC HÌNH HỌC TẤM ĐAN RÃNH XÂY">
                                    <NavLink href="/THLT/KTHHTDRX" class="nav-link">
                                        <p class="pl-4">3.10 KTHH TDRX</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item" title="BẢNG THÔNG TIN CẤU TẠO VÀ KÍCH THƯỚC HÌNH HỌC RÃNH BÊ TÔNG">
                                    <NavLink href="/THLT/KTHHRBT" class="nav-link">
                                        <p class="pl-4">3.11 KTHH RBT</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item" title="BẢNG THÔNG TIN CẤU TẠO VÀ KÍCH THƯỚC HÌNH HỌC TẤM ĐAN RÃNH BÊ TÔNG">
                                    <NavLink href="/THLT/KTHHTDRBT" class="nav-link">
                                        <p class="pl-4">3.12 KTHH TDRBT</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item" title="BẢNG THỐNG KẾ SỐ LƯỢNG CẤU KIỆN CỐNG TRÒN">
                                    <NavLink href="/THLT/SLCKCTron" class="nav-link">
                                        <p class="pl-4">3.13 SL C.Tròn</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item" title="BẢNG THỐNG KẾ SỐ LƯỢNG ỐNG NHỰA">
                                    <NavLink href="/THLT/SLCKONhua" class="nav-link">
                                        <p class="pl-4">3.14 SL Ô.Nhựa</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item" title="BẢNG THỐNG KẾ SỐ LƯỢNG CẤU KIỆN CỐNG HỘP">
                                    <NavLink href="/THLT/SLCKCHop" class="nav-link">
                                        <p class="pl-4">3.15 SL C.Hộp</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item" title="BẢNG THỐNG KẾ SỐ LƯỢNG RÃNH XÂY">
                                    <NavLink href="/THLT/SLCKRXay" class="nav-link">
                                        <p class="pl-4">3.16 SL rãnh xây</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item" title="BẢNG THỐNG KẾ SỐ LƯỢNG RÃNH BÊ TÔNG">
                                    <NavLink href="/THLT/SLCKRBT" class="nav-link">
                                        <p class="pl-4">3.17 SL rãnh B.Tông</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item" title="BẢNG THỐNG KẾ SỐ LƯỢNG CẤU KIỆN TRUYỀN DẪN THEO TUYẾN">
                                    <NavLink href="/THLT/SLTDanTTuyen" class="nav-link">
                                        <p class="pl-4">3.18 SL T.Dẫn T.Tuyến</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item" title="BẢNG THỐNG KẾ SỐ LƯỢNG MÓNG CỐNG TRÒN">
                                    <NavLink href="/THLT/SLMongCTron" class="nav-link">
                                        <p class="pl-4">3.19 SL móng C.Tròn</p>
                                    </NavLink>
                                </li> 
                                <li class="nav-item" title="BẢNG THỐNG KẾ SỐ LƯỢNG MÓNG CỐNG HỘP">
                                    <NavLink href="/THLT/SLMongCHop" class="nav-link">
                                        <p class="pl-4">3.20 SL móng C.Hộp</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item" title="BẢNG THỐNG KẾ SỐ LƯỢNG MÓNG CỐNG TRÒN + CỐNG HỘP THEO TUYẾN">
                                    <NavLink href="/THLT/SLMongTH" class="nav-link">
                                        <p class="pl-4">3.21 SL móng C.Tròn+Hộp</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item" title="BẢNG THỐNG KẾ SỐ LƯỢNG ĐẾ CỐNG TRÒN">
                                    <NavLink href="/THLT/SLDeCong" class="nav-link">
                                        <p class="pl-4">3.22 SL Đế cống</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item" title="BẢNG THỐNG KẾ SỐ LƯỢNG ĐẾ CỐNG TRÒN THEO TUYẾN">
                                    <NavLink href="/THLT/SLDeCongTT" class="nav-link">
                                        <p class="pl-4">3.23 SL Đế cống TT</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item" title="BẢNG THỐNG KẾ SỐ LƯỢNG THANH CHỐNG">
                                    <NavLink href="/THLT/SLThanhChong" class="nav-link">
                                        <p class="pl-4">3.24 SL Thanh chống</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item" title="BẢNG THỐNG KẾ SỐ LƯỢNG THANH CHỐNG">
                                    <NavLink href="/THLT/SLThanhChongTT" class="nav-link">
                                        <p class="pl-4">3.25 SL Thanh chống TT</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item" title="BẢNG THỐNG KẾ SỐ LƯỢNG TẤM ĐAN CỐNG HỘP">
                                    <NavLink href="/THLT/SLTDanCH" class="nav-link">
                                        <p class="pl-4">3.26 SL T.Đan C.Hộp</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item" title="BẢNG THỐNG KẾ SỐ LƯỢNG TẤM ĐAN RÃNH XÂY">
                                    <NavLink href="/THLT/SLTDanRX" class="nav-link">
                                        <p class="pl-4">3.27 SL T.Đan R.Xây</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item" title="BẢNG THỐNG KẾ SỐ LƯỢNG TẤM ĐAN RÃNH BÊ TÔNG">
                                    <NavLink href="/THLT/SLTDanRBT" class="nav-link">
                                        <p class="pl-4">3.28 SL T.Đan RBT</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item" title="BẢNG THỐNG KẾ SỐ LƯỢNG TẤM ĐAN CỐNG HỘP, RÃNH THEO TUYẾN">
                                    <NavLink href="/THLT/SLTDanTT" class="nav-link">
                                        <p class="pl-4">3.29 SL TDTD TT</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item" title="BẢNG THỐNG KẾ MÓNG CỐNG TRÒN CÓ SỬ DỤNG THÉP">
                                    <NavLink href="/THLT/MongCTSDThep" class="nav-link">
                                        <p class="pl-4">3.30 Móng CTSD thép</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item" title="BẢNG THỐNG KÊ CỐNG TRÒN CÓ SỬ DỤNG THÉP">
                                    <NavLink href="/THLT/CongTronSDThep" class="nav-link">
                                        <p class="pl-4">3.31 C.Tròn S.Dụng Thép</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item" title="BẢNG THỐNG KÊ ĐẾ CỐNG CÓ SỬ DỤNG THÉP">
                                    <NavLink href="/THLT/DeCongSDThep" class="nav-link">
                                        <p class="pl-4">3.32 Đ.Cống sử dụng thép</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item" title="BẢNG THỐNG KÊ CỐNG HỘP CÓ SỬ DỤNG THÉP">
                                    <NavLink href="/THLT/CongHopSDThep" class="nav-link">
                                        <p class="pl-4">3.33 C.Hộp sử dụng thép</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item" title="BẢNG THỐNG KẾ MÓNG CỐNG HỘP CÓ SỬ DỤNG THÉP">
                                    <NavLink href="/THLT/MongCongHopSDThep" class="nav-link">
                                        <p class="pl-4">3.34 Móng C.hộp SD thép</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item" title="BẢNG THỐNG KÊ TẤM ĐAN CỐNG HỘP CÓ SỬ DỤNG THÉP">
                                    <NavLink href="/THLT/TDCHSDThep" class="nav-link">
                                        <p class="pl-4">3.35 T.Đan C.Hộp SD thép</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item" title="BẢNG THỐNG KÊ RÃNH XÂY CÓ SỬ DỤNG THÉP">
                                    <NavLink href="/THLT/RXSDThep" class="nav-link">
                                        <p class="pl-4">3.36 R.Xây SD thép</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item" title="BẢNG THỐNG KÊ TẤM ĐAN RÃNH XÂY CÓ SỬ DỤNG THÉP">
                                    <NavLink href="/THLT/TDRXSDThep" class="nav-link">
                                        <p class="pl-4">3.37 T.Đan R.Xây SD thép</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item" title="BẢNG THỐNG KÊ THANH CHỐNG CÓ SỬ DỤNG THÉP">
                                    <NavLink href="/THLT/TCSDThep" class="nav-link">
                                        <p class="pl-4">3.38 T.Chống S.Dụng thép</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item" title="BẢNG THỐNG KÊ RÃNH BÊ TÔNG CÓ SỬ DỤNG THÉP">
                                    <NavLink href="/THLT/RBTSDThep" class="nav-link">
                                        <p class="pl-4">3.39 Rãnh BT có SD thép</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item" title="BẢNG THỐNG KÊ TÂM ĐAN RÃNH BÊ TÔNG CÓ SỬ DỤNG THÉP">
                                    <NavLink href="/THLT/TDRBTSDThep" class="nav-link">
                                        <p class="pl-4">3.40 T.Đan ranh BT SD thép</p>
                                    </NavLink>
                                </li>
                            </ul>
                        </li>
                       
                    </ul>
                </li>

                @* Quản lý thiết bị *@
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="nav-icon fas fa-truck"></i>
                        <p>
                            Quản lý thiết bị
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <NavLink href="phanquyencaidats" class="nav-link">
                                <p class="pl-4">Tài sản cố định</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="caidatduyets" class="nav-link">
                                <p class="pl-4">Quản lý thiết bị</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="phanquyenthaotacs" class="nav-link">
                                <p class="pl-4">Người vận hành</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="PhanQuyenDuyets" class="nav-link">
                                <p class="pl-4">Nhiên liệu</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="PhanQuyenDuyets" class="nav-link">
                                <p class="pl-4">Điều chuyển</p>
                            </NavLink>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link">
                                <p class="pl-4">
                                    Cài đặt
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" style="display: none;">
                                <li class="nav-item">
                                    <NavLink href="PhanQuyenDuyets" class="nav-link">
                                        <p class="pl-4">Phân quyền</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="PhanQuyenDuyets" class="nav-link">
                                        <p class="pl-4">Cài đặt phòng ban duyệt</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="PhanQuyenDuyets" class="nav-link">
                                        <p class="pl-4">Cài đặt số lượt duyệt</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="PhanQuyenDuyets" class="nav-link">
                                        <p class="pl-4">Cài đặt người duyệt</p>
                                    </NavLink>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                @* Thí nghiệm *@
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="nav-icon fas fa-vial"></i>
                        <p>
                            Thí nghiệm
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <NavLink href="phanquyencaidats" class="nav-link">
                                <p class="pl-4">Định mức</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="caidatduyets" class="nav-link">
                                <p class="pl-4">Cấp phối</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="phanquyenthaotacs" class="nav-link">
                                <p class="pl-4">Thí nghiệm</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="PhanQuyenDuyets" class="nav-link">
                                <p class="pl-4">Bảng tính giá</p>
                            </NavLink>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link">
                                <p class="pl-4">
                                    Cài đặt
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" style="display: none;">
                                <li class="nav-item">
                                    <NavLink href="PhanQuyenDuyets" class="nav-link">
                                        <p class="pl-4">Phân quyền</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="PhanQuyenDuyets" class="nav-link">
                                        <p class="pl-4">Cài đặt phòng ban duyệt</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="PhanQuyenDuyets" class="nav-link">
                                        <p class="pl-4">Cài đặt số lượt duyệt</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="PhanQuyenDuyets" class="nav-link">
                                        <p class="pl-4">Cài đặt người duyệt</p>
                                    </NavLink>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                @* Hợp đồng bê tông *@
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="nav-icon fas fa-building"></i>
                        <p>
                            Hợp đồng bê tông
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <NavLink href="phanquyencaidats" class="nav-link">
                                <p class="pl-4">Hợp đồng bán bê tông</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="phanquyencaidats" class="nav-link">
                                <p class="pl-4">Hợp đồng mua bê tông</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="caidatduyets" class="nav-link">
                                <p class="pl-4">Hợp đồng thuê bơm</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="phanquyenthaotacs" class="nav-link">
                                <p class="pl-4">Hợp đồng thuê xe</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="PhanQuyenDuyets" class="nav-link">
                                <p class="pl-4">Lịch xuất hàng</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="phanquyencaidats" class="nav-link">
                                <p class="pl-4">Xuất bê tông</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="caidatduyets" class="nav-link">
                                <p class="pl-4">Giá cước</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="phanquyenthaotacs" class="nav-link">
                                <p class="pl-4">Giá vật liệu</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="PhanQuyenDuyets" class="nav-link">
                                <p class="pl-4">Giá công trộn</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="PhanQuyenDuyets" class="nav-link">
                                <p class="pl-4">Lương sản lượng</p>
                            </NavLink>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link">
                                <p class="pl-4">
                                    Cài đặt
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" style="display: none;">
                                <li class="nav-item">
                                    <NavLink href="PhanQuyenDuyets" class="nav-link">
                                        <p class="pl-4">Phân quyền</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="PhanQuyenDuyets" class="nav-link">
                                        <p class="pl-4">Cài đặt phòng ban duyệt</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="PhanQuyenDuyets" class="nav-link">
                                        <p class="pl-4">Cài đặt số lượt duyệt</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="PhanQuyenDuyets" class="nav-link">
                                        <p class="pl-4">Cài đặt người duyệt</p>
                                    </NavLink>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                @* Nhập kho *@
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="nav-icon fas fa-download"></i>
                        <p>
                            Nhập kho
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <NavLink href="phanquyencaidats" class="nav-link">
                                <p class="pl-4">Hợp đồng mua vật liệu</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="phanquyencaidats" class="nav-link">
                                <p class="pl-4">Hợp đồng thuê xe</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="caidatduyets" class="nav-link">
                                <p class="pl-4">Lịch nhập kho</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="phanquyenthaotacs" class="nav-link">
                                <p class="pl-4">Nhập kho - Vật liệu</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="PhanQuyenDuyets" class="nav-link">
                                <p class="pl-4">Nhập kho - Thiết bị</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="phanquyencaidats" class="nav-link">
                                <p class="pl-4">Nhập kho - Phụ tùng</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="caidatduyets" class="nav-link">
                                <p class="pl-4">Nhập kho - Phiếu đề nghị</p>
                            </NavLink>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link">
                                <p class="pl-4">
                                    Cài đặt
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" style="display: none;">
                                <li class="nav-item">
                                    <NavLink href="PhanQuyenDuyets" class="nav-link">
                                        <p class="pl-4">Phân quyền</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="PhanQuyenDuyets" class="nav-link">
                                        <p class="pl-4">Cài đặt phòng ban duyệt</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="PhanQuyenDuyets" class="nav-link">
                                        <p class="pl-4">Cài đặt số lượt duyệt</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="PhanQuyenDuyets" class="nav-link">
                                        <p class="pl-4">Cài đặt người duyệt</p>
                                    </NavLink>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                @* Xuất kho *@
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="nav-icon fas fa-upload"></i>
                        <p>
                            Xuất kho
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <NavLink href="phanquyencaidats" class="nav-link">
                                <p class="pl-4">Lịch xuất kho</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="phanquyencaidats" class="nav-link">
                                <p class="pl-4">Xuất kho</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="caidatduyets" class="nav-link">
                                <p class="pl-4">Phiếu đề nghị</p>
                            </NavLink>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link">
                                <p class="pl-4">
                                    Cài đặt
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" style="display: none;">
                                <li class="nav-item">
                                    <NavLink href="PhanQuyenDuyets" class="nav-link">
                                        <p class="pl-4">Phân quyền</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="PhanQuyenDuyets" class="nav-link">
                                        <p class="pl-4">Cài đặt phòng ban duyệt</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="PhanQuyenDuyets" class="nav-link">
                                        <p class="pl-4">Cài đặt số lượt duyệt</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="PhanQuyenDuyets" class="nav-link">
                                        <p class="pl-4">Cài đặt người duyệt</p>
                                    </NavLink>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                @* Cài đặt hệ thống *@
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="nav-icon fas fa-wrench"></i>
                        <p>
                            Cài đặt hệ thống
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <NavLink href="/CaiDatHeThong/listMajor" class="nav-link">
                                <p class="pl-4">Danh sách nghiệp vụ</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="/CaiDatHeThong/listPermission" class="nav-link">
                                <p class="pl-4">Quyền trong hệ thống</p>
                            </NavLink>
                        </li>
                        @* <li class="nav-item">
                            <NavLink href="/CaiDatHeThong/ListPermissionsControl" class="nav-link">
                                <p class="pl-4">Cài đặt quản lý quyền</p>
                            </NavLink>
                        </li> *@
                        <li class="nav-item">
                            <NavLink href="/CaiDatHeThong/listMajorUserPermission" class="nav-link">
                                <p class="pl-4">QL người dùng, nghiệp vụ</p>
                            </NavLink>
                        </li>
@* 
                        <li class="nav-item">
                            <NavLink href="/MMajors/listNghiepVu" class="nav-link">
                                <p class="pl-4">Danh sách nghiệp vụ</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="/MMajors/createNghiepVu" class="nav-link">
                                <p class="pl-4">Tạo thông tin nghiệp vụ</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="phanquyencaidats" class="nav-link">
                                <p class="pl-4">Tạo thông tin quyền</p>
                            </NavLink>
                        </li> *@
                       
                    </ul>
                </li>

            </ul>
        </nav>

    </div>

</aside>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

