@page "/NghiepVuCongtrinh/Excel"
@using DucAnhERP.SeedWork;
@using Microsoft.AspNetCore.Components.Forms
@using DucAnhERP.Models
@using DucAnhERP.Repository;
@inject IDanhMucRepository DanhMucRepository ;
@inject IHopRanhThangRepository HopRanhThangRepository ;
@inject IExcelRepository ExcelRepository;
@inject DucAnhERP.Services.ToastService ToastService

<div class="container-fluid p-3">

    <InputFile class="my-2" OnChange="HandleFileSelected" title="Upload file excel"> Upload </InputFile>

    @if (excelDataList != null && excelDataList.Count > 0)
    {
        <table class="table table-bordered ">
            <thead>
                <tr class="nowrap">
                    <th rowspan="3">STT</th>
                    <th colspan="2" rowspan="2">Thông tin lý trình</th>
                    <th colspan="9" rowspan="2">Thông tin chung hố ga</th>
                    <th colspan="34">Thông tin kích thước hình học hố ga</th>
                    <th colspan="32">Hạng mục chiếm chỗ hố ga</th>
                    <th colspan="8">Thông tin tấm đan hố ga</th>
                    <th colspan="4" rowspan="2">Thông tin vật liệu đào hố ga</th>
                    <th colspan="18" rowspan="2">Thông tin cao độ hố ga</th>
                    <th colspan="10" rowspan="2"> Thông tin chiều cao C.Chỗ đắp trả hố thu</th>
                    <th colspan="4" rowspan="2">Thông tin mái đào</th>
                    <th colspan="17">Thông tin khối lượng đào</th>
                    <th colspan="2" rowspan="2">Tọa độ</th>
                    <th colspan="4" rowspan="2">Thông tin lý trình truyền dẫn</th>
                    <th colspan="3" rowspan="2">Thông tin đường truyền dẫn</th>
                    <th colspan="11" rowspan="2">Thông tin chiều dài và số lượng cấu kiện đường truyền dẫn</th>
                    <th colspan="3" rowspan="2">Thông tin móng đường truyền dẫn</th>
                    <th colspan="9">Thông tin đế cống</th>
                    <th colspan="10" rowspan="2">Thông tin cấu tạo cống tròn</th>
                    <th colspan="29">Thông tin kích thước hình học cống hộp, rãnh</th>
                    <th colspan="6" rowspan="2">Thông tin kích thước hình học ống nhựa</th>
                    <th colspan="30">Thông tin rãnh thang</th>
                    <th colspan="19">Thông tin tấm đan cống hộp, rãnh</th>
                    <th colspan="39">Cao độ thượng lưu</th>
                    <th colspan="39">Cao độ hạ lưu</th>
                    <th colspan="7">Thông tin vật liệu đào cống, rãnh</th>
                    <th colspan="24">Thông tin C.Cao C.Chỗ cống tròn</th>
                    <th colspan="18">Thông tin C.Cao C.Chỗ cống hộp, rãnh</th>
                    <th colspan="18">Thông tin C.Cao C.Chỗ ống nhựa</th>
                    <th colspan="12"> Thông tin chiếm chỗ rãnh thang (m)</th>
                    <th colspan="8">Thông tin mái đào</th>
                    <th colspan="4">D.Tích đào thượng lưu cống, rãnh, ống nhựa, rãnh thang</th>
                    <th colspan="4">D.Tích đào hạ lưu cống, rãnh, ống nhựa, rãnh thang</th>
                    <th colspan="4">D.Tích đào chân khay, giằng đỉnh</th>
                    <th colspan="38">Thông tin khối lượng đào</th>
                    <th colspan="6"> D.Tích đắp cát</th>
                    <th colspan="3" rowspan="2"> Thông tin KL đắp cát</th>
                    <th colspan="4"> Tọa độ</th>
                </tr>
                <tr>
                    <th colspan="2">Thông tin phủ bì hố ga (m)</th>
                    <th colspan="3">Kích thước hình học bê tông lót móng hố ga (m)</th>
                    <th colspan="3">Kích thước hình học bê tông móng hố ga (m)</th>
                    <th colspan="3">KTHH đế hố ga</th>
                    <th colspan="4">Kích thước hình học tường hố ga (m)</th>
                    <th colspan="5">KTHH dầm giữa hố ga</th>
                    <th colspan="3">Chất hố ga mặt trong</th>
                    <th colspan="3">Chất hố ga mặt ngoài, cạnh 01 +02 (m)</th>
                    <th colspan="4">Kích thước hình học tường mũ mố thép dưới (m)</th>
                    <th colspan="4">Kích thước hình học tường mũ mố thép trên (m)</th>

                    <th colspan="4">Hình thức đấu nối</th>
                    <th colspan="4">Hình thức đấu nối</th>
                    <th colspan="4">Hình thức đấu nối</th>
                    <th colspan="4">Hình thức đấu nối</th>
                    <th colspan="4">Hình thức đấu nối</th>
                    <th colspan="4">Hình thức đấu nối</th>
                    <th colspan="4">Hình thức đấu nối</th>
                    <th colspan="4">Hình thức đấu nối</th>

                    <th rowspan="2">Phân loại đậy hố ga</th>
                    <th rowspan="2">Hình thức đậy hố ga</th>
                    <th colspan="2">Loại tròn</th>
                    <th colspan="4">Loại vuông hoặc chữ nhật</th>

                    <th colspan="5">Diện tích đào hố ga</th>
                    <th colspan="12">Thông tin KL đào hố ga</th>

                    <th rowspan="2">Tên loại đế cống</th>
                    <th rowspan="2">Cấu tạo đế cống</th>
                    <th colspan="3">KTHH đế cống</th>
                    <th colspan="4">Khối lượng đế cống</th>

                    <th colspan="4">Thông tin chung</th>
                    <th colspan="2">Lót móng</th>
                    <th colspan="2">Móng</th>
                    <th colspan="2">Đế</th>
                    <th colspan="6">Thân</th>
                    <th colspan="4">Mũ mố</th>
                    <th colspan="6">Thanh chống</th>
                    <th colspan="2">Chát</th>
                    <th rowspan="2" class="text-danger">Tổng chiều cao (m)</th>

                    <th rowspan="2">Hình thức mái</th>
                    <th rowspan="2">Cấu tạo chân khay</th>
                    <th rowspan="2">Cấu tạo giằng đỉnh</th>
                    <th rowspan="2">Hình thức hành lang bảo vệ</th>

                    <th colspan="11">Thông tin móng</th>
                    <th colspan="4">Thông tin mái</th>
                    <th colspan="7">Thông tin giằng đỉnh </th>
                    <th colspan="4">Thông tin hành lang bảo vệ </th>

                    <th colspan="6">Thông tin tấm đan tiêu chuẩn</th>
                    <th colspan="6">Thông tin tấm đan loại 02</th>
                    <th colspan="7">Thông tin tính tấm đan bổ sung</th>

                    <th rowspan="2">Hiện trạng trước khi đào thượng lưu (m)</th>
                    <th colspan="9">Đáy đào thượng lưu</th>
                    <th colspan="8">Đỉnh lót thượng lưu</th>
                    <th colspan="8">Đỉnh móng thượng lưu</th>
                    <th colspan="4">Mũ tường, tường thượng lưu</th>
                    <th colspan="9">Đỉnh hoàn thiện thượng lưu</th>

                    <th rowspan="2">Hiện trạng trước khi đào thượng lưu (m)</th>
                    <th colspan="9">Đáy đào hạ lưu</th>
                    <th colspan="8">Đỉnh lót hạ lưu</th>
                    <th colspan="8">Đỉnh móng hạ lưu</th>
                    <th colspan="4">Mũ tường, tường hạ lưu</th>
                    <th colspan="9">Đỉnh hoàn thiện hạ lưu</th>

                    <th rowspan="2">Loại vật liệu đào</th>
                    <th colspan="3">Thượng lưu</th>
                    <th colspan="3">Hạ lưu</th>

                    <th colspan="3">Lót C.Chỗ đất</th>
                    <th colspan="3">Lót C.Chỗ đá</th>
                    <th colspan="3">móng C.Chỗ đất</th>
                    <th colspan="3">móng C.Chỗ đá</th>
                    <th colspan="3">Đế C.Chỗ đất</th>
                    <th colspan="3">Đế C.Chỗ đá</th>
                    <th colspan="3">Đỉnh cống C.Chỗ đất</th>
                    <th colspan="3">Đỉnh cống C.Chỗ đá</th>

                    <th colspan="3">C.Cao lót C.Chỗ đất	</th>
                    <th colspan="3">C.Cao lót C.Chỗ đá</th>
                    <th colspan="3">C.Cao móng C.Chỗ đất</th>
                    <th colspan="3">C.Cao móng C.Chỗ đá	</th>
                    <th colspan="3">C.Cao tường C.Chỗ đất</th>
                    <th colspan="3">C.Cao tường C.Chỗ đá</th>

                    <th colspan="3">C.Cao đệm cát C.Chỗ đất	</th>
                    <th colspan="3">C.Cao đệm cát C.Chỗ đá</th>
                    <th colspan="3">C.Cao ống C.Chỗ đất</th>
                    <th colspan="3">C.Cao ống C.Chỗ đá	</th>
                    <th colspan="3">C.Cao đắp cát C.Chỗ đất</th>
                    <th colspan="3">C.Cao đắp cát C.Chỗ đá</th>

                    <th colspan="3">C.Cao C.Chỗ đất đắp trả</th>
                    <th colspan="3">C.Cao C.Chỗ đá đắp trả</th>
                    <th colspan="3">C.Cao C.Chỗ đất đắp trả</th>
                    <th colspan="3">C.Cao C.Chỗ đá đắp trả</th>

                    <th colspan="4"> Thông tin mái đào cống, rãnh, ống nhựa, rãnh thang</th>
                    <th colspan="4">Thông tin mái đào chân khay, giằng đỉnh rãnh thang</th>


                    <th colspan="2">Đào đất</th>
                    <th colspan="2">Đào đá</th>
                    <th colspan="2">Đào đất</th>
                    <th colspan="2">Đào đá</th>
                    <th colspan="2">Chân khay</th>
                    <th colspan="2">C.Rộng đào đáy lớn (m)</th>


                    <th colspan="3"> KL đào cống, rãnh, ống nhựa, rãnh thang</th>
                    <th colspan="3">Kl đào đất chân khay + giằng đỉnh rãnh thang</th>
                    <th colspan="3">Tổng KL đào</th>
                    <th colspan="3">KL C.Chỗ C.Tròn</th>
                    <th colspan="3">KL C.Chỗ C.hộp</th>
                    <th colspan="3">KL C.Chỗ rãnh xây + bê tông</th>
                    <th colspan="3">KL C.Chỗ ống nhựa</th>
                    <th colspan="8">KL C.Chỗ rãnh thang</th>
                    <th colspan="3">Tổng KL chiếm chỗ</th>
                    <th colspan="3">Kl đắp trả	</th>
                    <th colspan="3">KL thừa</th>

                    <th colspan="3">Thượng lưu</th>
                    <th colspan="3">Hạ lưu</th>

                    <th colspan="2">Từ tọa độ</th>
                    <th colspan="2">Đến tọa độ	</th>

                </tr>
                <tr>
                    <th>Tuyến đường</th>
                    <th>Lộ trình tại tim hố ga</th>

                    <th>Tên hố ga sau phân loại</th>
                    <th>Tên hố ga theo bản vẽ</th>
                    <th>Hình thức hố ga</th>
                    <th>Kết cấu mũ mố</th>
                    <th>Kết cấu tường</th>
                    <th>Hình thức móng hố ga</th>
                    <th>Kết cấu móng</th>
                    <th>Chất mặt trong</th>
                    <th>Chất mặt ngoài</th>

                    @* Thông tin kích thước hình học hố ga *@
                    <th>C.D dài (m)</th>
                    <th>C.rộng (m)</th>

                    <th>D (m)</th>
                    <th>R (m)</th>
                    <th>C (m)</th>

                    <th>D (m)</th>
                    <th>R (m)</th>
                    <th>C (m)</th>

                    <th>D (m)</th>
                    <th>R (m)</th>
                    <th>C (m)</th>

                    <th>D (m)</th>
                    <th>R (m)</th>
                    <th class="text-danger">C (m)</th>
                    <th>CD tường (m)</th>

                    <th>D (m)</th>
                    <th>R (m)</th>
                    <th>C (m)</th>
                    <th>CD dầm (m)</th>
                    <th>C.Cao dầm giữa tường so với đáy hố ga (m)</th>

                    <th>D (m)</th>
                    <th>R (m)</th>
                    <th class="text-danger">C (m)</th>

                    <th>D (m)</th>
                    <th>R (m)</th>
                    <th class="text-danger">C (m)</th>

                    <th>D (m)</th>
                    <th>R (m)</th>
                    <th>C (m)</th>
                    <th>CD tường (m)</th>

                    <th>D (m)</th>
                    <th>R (m)</th>
                    <th>C (m)</th>
                    <th>CD tường (m)</th>

                    @* Hạng mục chiếm chỗ hố ga *@
                    <th>Loại</th>
                    <th>Cạnh dài</th>
                    <th>Cạnh rộng</th>
                    <th>Cạnh chéo</th>

                    <th>Loại</th>
                    <th>Cạnh dài</th>
                    <th>Cạnh rộng</th>
                    <th>Cạnh chéo</th>

                    <th>Loại</th>
                    <th>Cạnh dài</th>
                    <th>Cạnh rộng</th>
                    <th>Cạnh chéo</th>

                    <th>Loại</th>
                    <th>Cạnh dài</th>
                    <th>Cạnh rộng</th>
                    <th>Cạnh chéo</th>

                    <th>Loại</th>
                    <th>Cạnh dài</th>
                    <th>Cạnh rộng</th>
                    <th>Cạnh chéo</th>

                    <th>Loại</th>
                    <th>Cạnh dài</th>
                    <th>Cạnh rộng</th>
                    <th>Cạnh chéo</th>

                    <th>Loại</th>
                    <th>Cạnh dài</th>
                    <th>Cạnh rộng</th>
                    <th>Cạnh chéo</th>

                    <th>Loại</th>
                    <th>Cạnh dài</th>
                    <th>Cạnh rộng</th>
                    <th>Cạnh chéo</th>

                    @* Thông tin tấm đan hố ga *@
                    <th>Đường kính (m) </th>
                    <th>Chiều dầy (m)</th>

                    <th>D (m) </th>
                    <th>R (m) </th>
                    <th>C (m)</th>
                    <th>Số lượng nắp đậy (C.Kiện)</th>

                    @* Thông tin vật liệu đào hố ga *@

                    <th> Loại vật liệu đào</th>
                    <th>Chiều cao đào đá (m) </th>
                    <th class="text-danger">Chiều cao đào đất (m)</th>
                    <th class="text-danger">Tổng chiều cao đào</th>

                    @*Thông tin cao độ hố ga *@
                    <th>Cao độ tự nhiên (m)</th>
                    <th>CĐ đỉnh vỉa hè hoàn thiện (m)</th>
                    <th>Cao độ đỉnh K98 (m)</th>
                    <th class="text-danger">Cao độ hiện trạng trước khi đào (m)</th>
                    <th class="text-danger">Đáy đào (m)</th>
                    <th class="text-danger">C.Sâu đào (m)</th>
                    <th class="text-danger">Đỉnh lót móng (m)</th>
                    <th class="text-danger">CĐ đỉnh móng</th>
                    <th>CĐ đáy hố ga (m)</th>
                    <th class="text-danger">C.Cao tường (m)</th>
                    <th class="text-danger">Đỉnh tường dưới dầm giữa tường (m)</th>
                    <th class="text-danger">Đỉnh dầm giữa tường (m)</th>
                    <th class="text-danger">Đỉnh tường (m)</th>
                    <th class="text-danger">Đỉnh mũ mố thớt dưới (m)</th>
                    <th>CĐ đỉnh hố ga (m)</th>
                    <th class="text-danger">Tổng chiều cao hố ga</th>
                    <th class="text-danger">Chênh cao đỉnh hố ga và hiện trạng đào (m)</th>
                    <th class="text-danger">Tổng chiều cao chiếm chỗ đắp trả</th>

                    @* Thông tin chiều cao C.Chỗ đắp trả hố thu *@
                    <th class="text-danger">Chiều cao lót C.Chỗ đất (m)</th>
                    <th class="text-danger">Chiều cao móng C.Chỗ đất (m)</th>
                    <th class="text-danger">Chiều cao tường C.Chỗ đất (m)</th>
                    <th class="text-danger">Chiều cao lót C.Chỗ đá (m)</th>
                    <th class="text-danger">Chiều cao móng C.Chỗ đá (m)</th>
                    <th class="text-danger">Chiều cao tường C.Chỗ đá (m)</th>
                    <th class="text-danger">Tổng C.Cao C.Chỗ đất</th>
                    <th class="text-danger">Tổng C.Cao C.Chỗ đá</th>
                    <th class="text-danger">Chênh đất so với thiết kế</th>
                    <th class="text-danger">Chênh đá so với thiết kế</th>

                    @* Thông tin mái đào *@
                    <th>Chiều rộng đáy đào nhỏ (m)</th>
                    <th>Tỷ lệ mở mái (m)</th>
                    <th>Số cạnh mái trái</th>
                    <th>Số cạnh mái phải</th>

                    @* Thông tin khối lượng đào *@
                    <th class="text-danger">C.Rộng đào đáy lớn đất (m)</th>
                    <th class="text-danger">C.Rộng đào đáy lớn đá (m)</th>
                    <th class="text-danger">Diện tích đào đất (m2)</th>
                    <th class="text-danger">Diện tích đào đá (m2)</th>
                    <th class="text-danger">Tổng DT đào (m2)</th>
                    <th class="text-danger">KL đào đất (m3)</th>
                    <th class="text-danger">KL đào đá (m3)</th>
                    <th class="text-danger">Tổng KL đào (m3)</th>
                    <th class="text-danger">KL chiếm chỗ đất (m3)</th>
                    <th class="text-danger">KL chiếm chỗ đá (m3)</th>
                    <th class="text-danger">Tổng chiếm chỗ (m3)</th>
                    <th class="text-danger">KL đắp trả đất (m3)</th>
                    <th class="text-danger">KL đắp trả đá (m3)</th>
                    <th class="text-danger">Tổng đắp trả (m3)</th>
                    <th class="text-danger">KL thừa đất (m3)</th>
                    <th class="text-danger">KL thừa đá (m3)</th>
                    <th class="text-danger">Tổng thừa (m3)</th>

                    @* Tọa độ *@
                    <th>X</th>
                    <th>Y</th>

                    @* Thông tin lý trình truyền dẫn *@
                    <th>Từ lý trình</th>
                    <th>Đến lý trình</th>
                    <th>Từ hố ga</th>
                    <th>Đến hố ga</th>
                    @* Thông tin đường truyền dẫn *@
                    <th>Hình thức truyền dẫn</th>
                    <th>Loại truyền dẫn</th>
                    <th>Tên loại truyền dẫn sau phân loại</th>
                    @* Thông tin chiều dài và số lượng cấu kiện đường truyền dẫn *@
                    <th>Chiều dài 01 cấu kiện (m)</th>
                    <th>Chiều dài mối nối C.Kiện (m)</th>
                    <th>Số lượng C.Kiện dùng để tính chiều dài bổ sung (C.Kiện)</th>
                    <th>Tổng chiều dài (m)</th>
                    <th class="text-danger">SL cấu kiện tính KL</th>
                    <th class="text-danger">SL cấu kiện nguyên</th>
                    <th class="text-danger">Chiều dài cần để lắp đặt được theo số cấu kiện nguyên (m)</th>
                    <th class="text-danger">Tổng chiều dài lắp đặt theo số cấu kiện nguyên (m)</th>
                    <th class="text-danger">Chiều dài thực tế còn thừa (+)/thiếu (-) so với C.Rộng lòng mũ mố hố ga (m)</th>
                    <th class="text-danger">Xác định ống cống cần thêm</th>
                    <th class="text-danger">Chiều dài còn thừa (+)/thiếu (-) sau tính theo cấu kiện tính KL (m)</th>
                    @* Thông tin móng đường truyền dẫn *@
                    <th>Phân loại móng cống tròn, cống hộp</th>
                    <th>Loại móng</th>
                    <th>Hình thức móng</th>

                    @* Thông tin đế cống *@
                    <th>D</th>
                    <th>R</th>
                    <th>C</th>
                    <th>SL đế cống/01 cấu kiện truyền dẫn (C.Kiện)</th>
                    <th>KL 01 đế cống</th>
                    <th class="text-danger">Tổng số lượng đế cống</th>
                    <th class="text-danger">Tổng KL đế cống</th>

                    @* Thông tin cấu tạo cống tròn *@
                    <th>C.Dầy phủ bì (m)</th>
                    <th>Số cạnh</th>
                    <th>Lòng sử dụng (m)</th>
                    <th class="text-danger">C.Cao cấu kiện</th>
                    <th>C.Cao lót móng (m)</th>
                    <th>C.Rộng lót móng</th>
                    <th>C.Cao móng (m)</th>
                    <th>C.Rộng móng (m)</th>
                    <th>C.Cao đế (tại vị trí đặt C.Kiện) (m)</th>
                    <th class="text-danger">Tổng C.Cao cống (m)</th>

                    @* Thông tin kích thước hình học cống hộp, rãnh *@
                    <th>Cấu tạo tường</th>
                    <th>Cấu tạo mũ mố</th>
                    <th>Chát mặt trong</th>
                    <th>Chát mặt ngoài</th>
                    <th>C.Cao lót móng (m)</th>
                    <th>C.Rộng lót móng (m)</th>
                    <th>C.Cao móng (m)</th>
                    <th>C.Rộng móng (m)</th>
                    <th>C.Cao đế (m)</th>
                    <th>C.Rộng đế (m)</th>
                    <th>C.Dầy tường 01 bên (m)</th>
                    <th>Số lượng tường (m)</th>
                    <th>C.Rộng lòng sử dụng (m)</th>
                    <th>C.Cao tường cống hộp (m)</th>
                    <th class="text-danger">C.Cao tường rãnh</th>
                    <th class="text-danger">C.Cao tường gộp</th>
                    <th>C.Cao mũ mố thớt dưới (m)</th>
                    <th>C.Rộng mũ mố dưới</th>
                    <th>C.Cao mũ mố thớt trên (m)</th>
                    <th>C.Rộng mũ mố trên</th>
                    <th>Loại thanh chống</th>
                    <th>Cấu tạo thanh chống</th>
                    <th>C.Cao thanh chống (m)</th>
                    <th>C.Rộng thanh chống (m)</th>
                    <th>C.Dài (m)</th>
                    <th>Số lượng thanh chống (cái)</th>
                    <th class="text-danger">C.Cao chát mặt trong (m)</th>
                    <th class="text-danger">C.Cao chát mặt ngoài (m)</th>

                    @* Thông tin kích thước hình học ống nhựa *@
                    <th>C.Dầy phủ bì (m)</th>
                    <th>Số cạnh</th>
                    <th>Lòng sử dụng (m)</th>
                    <th class="text-danger">Tổng C.Cao ống (m)</th>
                    <th>C.Cao đệm cát (m)</th>
                    <th>C.Cao đắp cát (m)</th>

                    @* Thông tin rãnh thang *@
                    <th>Phân loại chân khay</th>
                    <th>C.Cao lót chân khay (m)</th>
                    <th>C.Rộng lót chân khay (m)</th>
                    <th>Số lượng lót chân khay</th>
                    <th>C.Cao móng chân khay (m)</th>
                    <th>C.Rộng móng chân khay (m)</th>
                    <th>Số lượng móng chân khay</th>
                    <th>C.Cao lót (m)</th>
                    <th>C.Rộng lót (m)</th>
                    <th>C.Cao móng (m)</th>
                    <th>C.Rộng móng (m)</th>
                    <th>Phân loại mái</th>
                    <th>C.Rộng mái (m)</th>
                    <th>C.Dầy mái (m)</th>
                    <th>Số lượng mái (m)</th>
                    <th>Phân loại giằng đỉnh</th>
                    <th>C.Cao lót giằng đỉnh (m)</th>
                    <th>C.Rộng lót giằng đỉnh (m)</th>
                    <th>Số lượng lót giằng đỉnh</th>
                    <th>C.Cao móng giằng đỉnh (m)</th>
                    <th>C.Rộng móng giằng đỉnh (m)</th>
                    <th>Số lượng móng giằng đỉnh</th>
                    <th>Phân loại hành lang bảo vệ</th>
                    <th>C.Cao hàng lang bảo vệ</th>
                    <th>C.Rộng hành lang bảo vệ</th>
                    <th>Số lượng hàng lang bảo vệ</th>

                    @* Thông tin tấm đan cống hộp, rãnh *@
                    <th>Tên loại tấm đan tiêu chuẩn</th>
                    <th>Cấu tạo tấm đan truyền dẫn tấm đan tiêu chuẩn</th>
                    <th class="text-danger">Số lượng</th>
                    <th>C.Dài</th>
                    <th>C.Rộng</th>
                    <th>C.Cao</th>
                    <th>Tên loại tấm đan loại 02</th>
                    <th>Cấu tạo tấm đan truyền dẫn</th>
                    <th class="text-danger">Số lượng</th>
                    <th class="text-danger">C.Dài</th>
                    <th>C.Rộng</th>
                    <th>C.Cao</th>
                    <th>Chiều dài mối nối (m)</th>
                    <th>Số lượng T.Đan dùng để tính chiều dài bổ sung (C.Kiện)</th>
                    <th class="text-danger">SL cấu kiện nguyên</th>
                    <th class="text-danger">Chiều dài cần để lắp đặt được theo số CK nguyên (m)</th>
                    <th class="text-danger">Tổng chiều dài lắp đặt theo số CK nguyên (m)</th>
                    <th class="text-danger">Chiều dài thực tế còn thừa (+)/thiếu (-) so với C.Rộng lòng mũ mố hố ga (m)</th>
                    <th class="text-danger">Xác định ống cống cần thêm</th>

                    @* Cao độ thượng lưu *@
                    <th class="text-danger">Đáy đào gộp (C.Tròn, C.Hộp, Rãnh, Ô.Nhựa, rãnh thang)</th>
                    <th class="text-danger">Chiều sâu đào</th>
                    <th class="text-danger">Đáy đào cống tròn (m)</th>
                    <th class="text-danger">Đáy đào cống hộp (m)</th>
                    <th class="text-danger">Đáy đào rãnh (m)</th>
                    <th class="text-danger">Đáy đào ống nhựa (m)</th>
                    <th class="text-danger">Đáy đào giằng đỉnh rãnh thang (m)</th>
                    <th class="text-danger">Đáy đào chân khay rãnh thang (m)</th>
                    <th class="text-danger">Đáy đào rãnh thang (m)</th>
                    <th class="text-danger">Đỉnh lót gộp (C.Tròn, C.Hộp, Rãnh, ống nhựa, rãnh thang)</th>
                    <th class="text-danger">Đỉnh lót rãnh thang</th>
                    <th class="text-danger">Đỉnh lót chân khay rãnh thang</th>
                    <th class="text-danger">Đỉnh lót giằng đỉnh rãnh thang</th>
                    <th class="text-danger">Đỉnh lót ống nhựa</th>
                    <th class="text-danger">Đỉnh lót cống tròn (m)</th>
                    <th class="text-danger">Đỉnh lót cống hộp (m)</th>
                    <th class="text-danger">Đỉnh lót rãnh (m)</th>
                    <th class="text-danger">Đỉnh móng gộp (C.Tròn, C.Hộp, Rãnh, rãnh thang)</th>
                    <th class="text-danger">Đỉnh móng rãnh thang (m)</th>
                    <th class="text-danger">Đỉnh móng chân khay (m)</th>
                    <th class="text-danger">Đỉnh móng cống tròn (m)</th>
                    <th class="text-danger">Đỉnh móng cống hộp (m)</th>
                    <th class="text-danger">Đỉnh móng rãnh (m)</th>
                    <th class="text-danger">Đỉnh đế cống (m)</th>
                    <th>Đáy dòng chảy (m)</th>
                    <th class="text-danger">C.Cao tường cống, rãnh (m)</th>
                    <th class="text-danger">Đỉnh tường C.Hộp, rãnh (m)</th>
                    <th class="text-danger">Đỉnh mũ mố thớt dưới cống hộp rãnh (m)</th>
                    <th class="text-danger">Đỉnh giằng đỉnh rãnh thang (m)</th>
                    <th class="text-danger">Đỉnh gộp (C.Tròn, C.Hộp, rãnh, Ô.Nhựa, Rãnh thang (m)</th>
                    <th>Đỉnh trong lòng sử dụng (m)</th>
                    <th class="text-danger">Đỉnh cống tròn (m)</th>
                    <th class="text-danger">Đỉnh cống hộp (m)</th>
                    <th class="text-danger">Đỉnh rãnh (m)</th>
                    <th class="text-danger">Đỉnh ống nhựa (m)</th>
                    <th class="text-danger">Đỉnh đắp cát (m)</th>
                    <th>Chiều cao rãnh thang từ đáy dòng chảy đến đỉnh (m)</th>
                    <th class="text-danger">Đỉnh rãnh thang (m)</th>

                    @* Cao độ hạ lưu *@
                    <th class="text-danger">Đáy đào gộp (C.Tròn, C.Hộp, Rãnh, Ô.Nhựa, rãnh thang)</th>
                    <th class="text-danger">Chiều sâu đào</th>
                    <th class="text-danger">Đáy đào cống tròn (m)</th>
                    <th class="text-danger"> Đáy đào cống hộp (m)</th>
                    <th class="text-danger">Đáy đào rãnh (m)</th>
                    <th class="text-danger">Đáy đào ống nhựa (m)</th>
                    <th class="text-danger">Đáy đào giằng đỉnh rãnh thang (m)</th>
                    <th class="text-danger">Đáy đào chân khay rãnh thang (m)</th>
                    <th class="text-danger">Đáy đào rãnh thang (m)</th>
                    <th class="text-danger">Đỉnh lót gộp (C.Tròn, C.Hộp, Rãnh, ống nhựa, rãnh thang)</th>
                    <th class="text-danger">Đỉnh lót rãnh thang</th>
                    <th class="text-danger">Đỉnh lót chân khay rãnh thang</th>
                    <th class="text-danger">Đỉnh lót giằng đỉnh rãnh thang</th>
                    <th class="text-danger">Đỉnh lót ống nhựa</th>
                    <th class="text-danger">Đỉnh lót cống tròn (m)</th>
                    <th class="text-danger">Đỉnh lót cống hộp (m)</th>
                    <th class="text-danger">Đỉnh lót rãnh (m)</th>
                    <th class="text-danger">Đỉnh móng gộp (C.Tròn, C.Hộp, Rãnh, rãnh thang)</th>
                    <th class="text-danger">Đỉnh móng rãnh thang (m)</th>
                    <th class="text-danger">Đỉnh móng chân khay (m)</th>
                    <th class="text-danger">Đỉnh móng cống tròn (m)</th>
                    <th class="text-danger">Đỉnh móng cống hộp (m)</th>
                    <th class="text-danger">Đỉnh móng rãnh (m)</th>
                    <th class="text-danger">Đỉnh đế cống (m)</th>
                    <th>Đáy dòng chảy (m)</th>
                    <th class="text-danger">C.Cao tường cống, rãnh (m)</th>
                    <th class="text-danger">Đỉnh tường C.Hộp, rãnh (m)</th>
                    <th class="text-danger">Đỉnh mũ mố thớt dưới cống hộp rãnh (m)</th>
                    <th class="text-danger">Đỉnh giằng đỉnh rãnh thang (m)</th>
                    <th class="text-danger">Đỉnh gộp (C.Tròn, C.Hộp, rãnh, Ô.Nhựa, Rãnh thang (m)</th>
                    <th>Đỉnh trong lòng sử dụng (m)</th>
                    <th class="text-danger">Đỉnh cống tròn (m)</th>
                    <th class="text-danger">Đỉnh cống hộp (m)</th>
                    <th class="text-danger">Đỉnh rãnh (m)</th>
                    <th class="text-danger">Đỉnh ống nhựa (m)</th>
                    <th class="text-danger">Đỉnh đắp cát (m)</th>
                    <th>Chiều cao rãnh thang từ đáy dòng chảy đến đỉnh (m)</th>
                    <th class="text-danger">Đỉnh rãnh thang (m)</th>

                    @* Thông tin vật liệu đào cống, rãnh *@
                    <th>Chiều cao đào đá (m)</th>
                    <th class="text-danger">Chiều cao đào đất (m)</th>
                    <th class="text-danger">Tổng chiều sâu đào</th>
                    <th>Chiều cao đào đá (m)</th>
                    <th class="text-danger">Chiều cao đào đất (m)</th>
                    <th class="text-danger">Tổng chiều sâu đào</th>

                    @* Thông tin C.Cao C.Chỗ cống tròn *@
                    <th class="text-danger">C.Cao lót T.Lưu</th>
                    <th class="text-danger">C.Cao lót H.lưu</th>
                    <th class="text-danger">C.Cao lót móng T.Bình</th>
                    <th class="text-danger">C.Cao lót T.Lưu</th>
                    <th class="text-danger">C.Cao lót H.lưu</th>
                    <th class="text-danger">C.Cao lót móng T.Bình</th>
                    <th class="text-danger">C.Cao móng T.Lưu</th>
                    <th class="text-danger">C.Cao móng H.Lưu</th>
                    <th class="text-danger">C.Cao móng T.Bình</th>
                    <th class="text-danger">C.Cao móng T.Lưu</th>
                    <th class="text-danger">C.Cao móng H.Lưu</th>
                    <th class="text-danger">C.Cao móng T.Bình</th>
                    <th class="text-danger">C.Cao đế T.Lưu</th>
                    <th class="text-danger">C.Cao đế H.Lưu</th>
                    <th class="text-danger">C.Cao đế T.Bình</th>
                    <th class="text-danger">C.Cao đế T.Lưu</th>
                    <th class="text-danger">C.Cao đế H.Lưu</th>
                    <th class="text-danger">C.Cao đế T.Bình</th>
                    <th class="text-danger">C.Cao cống T.Lưu</th>
                    <th class="text-danger">C.Cao cống H.Lưu</th>
                    <th class="text-danger">C.Cao cống T.Bình</th>
                    <th class="text-danger">C.Cao cống T.Lưu</th>
                    <th class="text-danger">C.Cao cống H.Lưu</th>
                    <th class="text-danger">C.Cao cống T.Bình</th>

                    @* Thông tin C.Cao C.Chỗ cống hộp, rãnh *@

                    <th class="text-danger">C.Cao lót T.Lưu</th>
                    <th class="text-danger">C.Cao lót H.Lưu</th>
                    <th class="text-danger">C.Cao lót T.Bình</th>
                    <th class="text-danger">C.Cao lót T.Lưu</th>
                    <th class="text-danger">C.Cao lót H.Lưu</th>
                    <th class="text-danger">C.Cao lót T.Bình</th>
                    <th class="text-danger">C.Cao móng T.Lưu</th>
                    <th class="text-danger">C.Cao móng H.Lưu</th>
                    <th class="text-danger">C.Cao móng T.Bình</th>
                    <th class="text-danger">C.Cao móng T.Lưu</th>
                    <th class="text-danger">C.Cao móng H.Lưu</th>
                    <th class="text-danger">C.Cao móng T.Bình</th>
                    <th class="text-danger">C.Cao tường T.Lưu</th>
                    <th class="text-danger">C.Cao tường H.Lưu</th>
                    <th class="text-danger">C.Cao tường T.Bình</th>
                    <th class="text-danger">C.Cao tường T.Lưu</th>
                    <th class="text-danger">C.Cao tường H.Lưu</th>
                    <th class="text-danger">C.Cao tường T.Bình</th>

                    @* Thông tin C.Cao C.Chỗ ống nhựa *@
                    <th class="text-danger">C.Cao đệm cát T.Lưu</th>
                    <th class="text-danger">C.Cao đệm cát H.Lưu</th>
                    <th class="text-danger">C.Cao đệm cát T.Bình</th>
                    <th class="text-danger">C.Cao đệm cát T.Lưu</th>
                    <th class="text-danger">C.Cao đệm cát H.Lưu</th>
                    <th class="text-danger">C.Cao đệm cát T.Bình</th>
                    <th class="text-danger">C.Cao ống T.Lưu</th>
                    <th class="text-danger">C.Cao ống H.Lưu</th>
                    <th class="text-danger">C.Cao T.Bình</th>
                    <th class="text-danger">C.Cao ống T.Lưu</th>
                    <th class="text-danger">C.Cao ống H.Lưu</th>
                    <th class="text-danger">C.Cao T.Bình</th>
                    <th class="text-danger">C.Cao đắp cát T.Lưu</th>
                    <th class="text-danger">C.Cao Đắp cát H.Lưu</th>
                    <th class="text-danger">C.Cao đắp cát T.Bình</th>
                    <th class="text-danger">C.Cao đắp cát T.Lưu</th>
                    <th class="text-danger">C.Cao Đắp cát H.Lưu</th>
                    <th class="text-danger">C.Cao đắp cát T.Bình</th>

                    @* Thông tin chiếm chỗ rãnh thang (m) *@
                    <th class="text-danger">Lót thượng lưu</th>
                    <th class="text-danger">Lót hạ lưu</th>
                    <th class="text-danger">Lót trung bình</th>
                    <th class="text-danger">Lót thượng lưu</th>
                    <th class="text-danger">Lót hạ lưu</th>
                    <th class="text-danger">Lót trung bình</th>
                    <th class="text-danger">Móng thượng lưu</th>
                    <th class="text-danger">Móng hạ lưu</th>
                    <th class="text-danger">Móng trung bình</th>
                    <th class="text-danger">Móng thượng lưu</th>
                    <th class="text-danger">Móng hạ lưu</th>
                    <th class="text-danger">Móng trung bình</th>

                    @* Thông tin mái đào *@
                    <th>Chiều rộng đáy đào nhỏ (m)</th>
                    <th>Tỷ lệ mở mái</th>
                    <th>Số cạnh mái trái</th>
                    <th>Số cạnh mái phải</th>
                    <th>Chiều rộng đáy đào nhỏ (m)</th>
                    <th>Tỷ lệ mở mái</th>
                    <th>Số cạnh mái trái</th>
                    <th>Số cạnh mái phải</th>

                    @* D.Tích đào thượng lưu cống, rãnh, ống nhựa, rãnh thang *@
                    <th class="text-danger">C.Rộng đào đáy lớn (m)</th>
                    <th class="text-danger">D.Tích đào (m2)</th>
                    <th class="text-danger">C.Rộng đào đáy lớn (m)</th>
                    <th class="text-danger">D.Tích đào (m2)</th>
                    @* D.Tích đào hạ lưu cống, rãnh, ống nhựa, rãnh thang *@
                    <th class="text-danger">C.Rộng đào đáy lớn (m)</th>
                    <th class="text-danger">D.Tích đào (m2)</th>
                    <th class="text-danger">C.Rộng đào đáy lớn (m)</th>
                    <th class="text-danger">D.Tích đào (m2)</th>
                    @* D.Tích đào chân khay, giằng đỉnh  *@
                    <th class="text-danger">C.Rộng đào đáy lớn (m)</th>
                    <th class="text-danger">D.Tích đào (m2)</th>
                    <th class="text-danger">C.Rộng đào đáy lớn (m)</th>
                    <th class="text-danger">D.Tích đào (m2)</th>
                    @* Thông tin khối lượng đào *@
                    <th class="text-danger">KL đào đất (m3)</th>
                    <th class="text-danger">KL đào đá (m3)</th>
                    <th class="text-danger">Tổng KL đào cống, rãnh, ống nhựa, rãnh thang (m3)</th>
                    <th class="text-danger">Chân khay (m3)</th>
                    <th class="text-danger">Giằng đỉnh (m3)</th>
                    <th class="text-danger">Tổng KL đào đất chân khay + rảnh đỉnh (m3)</th>
                    <th class="text-danger">Tổng KL đào đất (m3)</th>
                    <th class="text-danger">Tổng KL đào đá (m3)</th>
                    <th class="text-danger">Tổng KL đào (m3)</th>
                    <th class="text-danger">KL C.Chỗ đất cống tròn (m3)</th>
                    <th class="text-danger">KL C.Chỗ đá cống tròn (m3)</th>
                    <th class="text-danger">Tổng KL chiếm chỗ C.Tròn (m3)</th>
                    <th class="text-danger">KL C.chỗ đất cống hộp (m3)</th>
                    <th class="text-danger">KL C.chỗ đá cống hộp (m3)</th>
                    <th class="text-danger">Tổng KL C.chỗ cống hộp (m3)</th>
                    <th class="text-danger">KL C.chỗ đất rãnh (m3)</th>
                    <th class="text-danger">KL C.chỗ đá rãnh (m3)</th>
                    <th class="text-danger">Tổng KL C.chỗ rãnh (m3)</th>
                    <th class="text-danger">KL C.Chỗ đất ống nhựa (m)</th>
                    <th class="text-danger">KL C.Chỗ đá ống nhựa (m3)</th>
                    <th class="text-danger">Tổng KL C.Chỗ ống nhựa (m3)</th>
                    <th class="text-danger">KL C.Chỗ đất rãnh thang (m3)</th>
                    <th class="text-danger">KL C.Chỗ đá rãnh thang (m3)</th>
                    <th class="text-danger">Tổng KL C.Chỗ rãnh thang (m3)</th>
                    <th class="text-danger">KL C.Chố đất chân khay (m3)</th>
                    <th class="text-danger">KL C.Chố đất chân giằng đỉnh (m3)</th>
                    <th class="text-danger">Tổng KL C.Chỗ đất (m3)</th>
                    <th class="text-danger">Tổng KL C.Chỗ đá (m3)</th>
                    <th class="text-danger">Tổng KL C.Chỗ (m3)</th>
                    <th class="text-danger">KL C.chỗ đất (m3)</th>
                    <th class="text-danger">KL C.Chỗ đá (m3)</th>
                    <th class="text-danger">Tổng chiếm chỗ (m3)</th>
                    <th class="text-danger">KL đắp trả đất (m3)</th>
                    <th class="text-danger">KL đắp trả đá (m3)</th>
                    <th class="text-danger">Tổng KL đắp trả (m3)</th>
                    <th class="text-danger">KL thừa đất (m3)</th>
                    <th class="text-danger">KL thừa đá (m3)</th>
                    <th class="text-danger">Tổng KL thừa (m3) </th>
                    @*D.Tích đắp cát *@
                    <th class="text-danger">C.Sâu đắp (m)</th>
                    <th class="text-danger">C.Rộng đắp đáy lớn (m)</th>
                    <th class="text-danger">D.Tích đắp (m2)</th>
                    <th class="text-danger">C.Sâu đắp (m)</th>
                    <th class="text-danger">C.Rộng đắp đáy lớn (m)</th>
                    <th class="text-danger">D.Tích đắp (m2)</th>
                    @*Thông tin KL đắp cát *@
                    <th class="text-danger">KL đắp cát trước chiếm chỗ (m3)</th>
                    <th class="text-danger">KL chiếm chỗ (m3)</th>
                    <th class="text-danger">KL đắp cát sau chiếm chỗ (m3) </th>
                    @* Tọa độ	 *@
                    <th>X</th>
                    <th>Y</th>
                    <th>X</th>
                    <th>Y</th>

                </tr>

            </thead>
            <tbody>
                @foreach (var excelData in excelDataList)
                {
                    <tr>
                        @foreach (var value in excelData.RowData)
                        {
                            <td>@value</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }

</div>
@code {
    private List<ExcelData> excelDataList;
    private List<MHopRanhThang> listMHopRanhThang;

    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        var file = e.File;
        if (file != null)
        {
            try
            {
                using (var stream = new MemoryStream())
                {
                    await file.OpenReadStream().CopyToAsync(stream);
                    stream.Position = 0;
                    excelDataList = await ExcelRepository.ReadExcelDataAsync(stream);
                    if (excelDataList.Count > 0 && excelDataList[0].RowData.Count >= 492)
                    {
                        listMHopRanhThang = await convertData(excelDataList);
                        var count = await HopRanhThangRepository.MultiInsert(listMHopRanhThang);
                        Console.WriteLine(count);
                        ToastService.ShowToast("Thông báo", "Đã thêm thành công :" + count + " dòng.", cssClass: "toast-danger", iconClass: "bi bi-info-circle", progressBarClass: "bg-info", duration: 5000);
                    }
                    else
                    {
                        excelDataList = new();
                        ToastService.ShowToast("Thông báo", "Số cột dòng phải đủ như file mẫu. Vui lòng kiểm tra lại", cssClass: "toast-danger", iconClass: "bi bi-info-circle", progressBarClass: "bg-info", duration: 5000);
                    }

                }
            }
            catch (Exception ex)
            {
                // Ghi lại chi tiết lỗi hoặc xử lý lỗi tại đây
                Console.WriteLine($"Error: {ex.Message}");
            }
        }
    }

    public async Task<List<MHopRanhThang>> convertData(List<ExcelData> listData)
    {
        try
        {
            List<MHopRanhThang> listHRT = new();
            for (int i = 0; i < listData.Count; i++)
            {
                MHopRanhThang mHopRanhThang = new();

                mHopRanhThang.Id = Guid.NewGuid().ToString();
                mHopRanhThang.ThongTinLyTrinh_TuyenDuong = listData[i].RowData[1].ToString() ?? "0";
                mHopRanhThang.ThongTinLyTrinh_LyTrinhTaiTimHoGa = listData[i].RowData[2].ToString() ?? "";
                mHopRanhThang.ThongTinChungHoGa_TenHoGaSauPhanLoai = listData[i].RowData[3].ToString() ?? "";
                mHopRanhThang.ThongTinChungHoGa_TenHoGaTheoBanVe = listData[i].RowData[4].ToString() ?? "";
                mHopRanhThang.ThongTinChungHoGa_HinhThucHoGa = await DanhMucRepository.GetIdDMByTen(listData[i].RowData[5].ToString() ?? "");
                mHopRanhThang.ThongTinChungHoGa_KetCauMuMo =  await DanhMucRepository.GetIdDMByTen(listData[i].RowData[6].ToString() ?? "");
                mHopRanhThang.ThongTinChungHoGa_KetCauTuong = await DanhMucRepository.GetIdDMByTen(listData[i].RowData[7].ToString() ?? "");
                mHopRanhThang.ThongTinChungHoGa_HinhThucMongHoGa = await DanhMucRepository.GetIdDMByTen(listData[i].RowData[8].ToString() ?? "");
                mHopRanhThang.ThongTinChungHoGa_KetCauMong = await DanhMucRepository.GetIdDMByTen(listData[i].RowData[9].ToString() ?? "");
                mHopRanhThang.ThongTinChungHoGa_ChatMatTrong = await DanhMucRepository.GetIdDMByTen(listData[i].RowData[10].ToString() ?? "");
                mHopRanhThang.ThongTinChungHoGa_ChatMatNgoai = await DanhMucRepository.GetIdDMByTen(listData[i].RowData[11].ToString() ?? "");
                mHopRanhThang.PhuBiHoGa_CDai = ParseDoubleOrDefault(listData[i].RowData[12], 0);
                mHopRanhThang.PhuBiHoGa_CRong = ParseDoubleOrDefault(listData[i].RowData[13], 0);
                mHopRanhThang.BeTongLotMong_D = ParseDoubleOrDefault(listData[i].RowData[14], 0);
                mHopRanhThang.BeTongLotMong_R = ParseDoubleOrDefault(listData[i].RowData[15], 0);
                mHopRanhThang.BeTongLotMong_C = ParseDoubleOrDefault(listData[i].RowData[16], 0);
                mHopRanhThang.BeTongMongHoGa_D = ParseDoubleOrDefault(listData[i].RowData[17], 0);
                mHopRanhThang.BeTongMongHoGa_R = ParseDoubleOrDefault(listData[i].RowData[18], 0);
                mHopRanhThang.TBeTongMongHoGa_C = ParseDoubleOrDefault(listData[i].RowData[19], 0);
                mHopRanhThang.DeHoGa_D = ParseDoubleOrDefault(listData[i].RowData[20], 0);
                mHopRanhThang.DeHoGa_R = ParseDoubleOrDefault(listData[i].RowData[21], 0);
                mHopRanhThang.DeHoGa_C = ParseDoubleOrDefault(listData[i].RowData[22], 0);
                mHopRanhThang.TuongHoGa_D = ParseDoubleOrDefault(listData[i].RowData[23], 0);
                mHopRanhThang.TuongHoGa_R = ParseDoubleOrDefault(listData[i].RowData[24], 0);
                mHopRanhThang.TuongHoGa_CdTuong = ParseDoubleOrDefault(listData[i].RowData[26], 0);
                mHopRanhThang.DamGiuaHoGa_D = ParseDoubleOrDefault(listData[i].RowData[27], 0);
                mHopRanhThang.DamGiuaHoGa_R = ParseDoubleOrDefault(listData[i].RowData[28], 0);
                mHopRanhThang.DamGiuaHoGa_C = ParseDoubleOrDefault(listData[i].RowData[29], 0);
                mHopRanhThang.DamGiuaHoGa_CdDam = ParseDoubleOrDefault(listData[i].RowData[30], 0);
                mHopRanhThang.DamGiuaHoGa_CCaoDamGiuaTuongSoVoiDayHoGa = ParseDoubleOrDefault(listData[i].RowData[31], 0);
                mHopRanhThang.ChatMatTrong_D = ParseDoubleOrDefault(listData[i].RowData[32], 0);
                mHopRanhThang.ChatMatTrong_R = ParseDoubleOrDefault(listData[i].RowData[33], 0);
                mHopRanhThang.ChatMatNgoaiCanh_D = ParseDoubleOrDefault(listData[i].RowData[35], 0);
                mHopRanhThang.ChatMatNgoaiCanh_R = ParseDoubleOrDefault(listData[i].RowData[36], 0);
                mHopRanhThang.MuMoThotDuoi_D = ParseDoubleOrDefault(listData[i].RowData[38], 0);
                mHopRanhThang.MuMoThotDuoi_R = ParseDoubleOrDefault(listData[i].RowData[39], 0);
                mHopRanhThang.MuMoThotDuoi_C = ParseDoubleOrDefault(listData[i].RowData[40], 0);
                mHopRanhThang.MuMoThotDuoi_CdTuong = ParseDoubleOrDefault(listData[i].RowData[41], 0);
                mHopRanhThang.MuMoThotTren_D = ParseDoubleOrDefault(listData[i].RowData[42], 0);
                mHopRanhThang.MuMoThotTren_R = ParseDoubleOrDefault(listData[i].RowData[43], 0);
                mHopRanhThang.MuMoThotTren_C = ParseDoubleOrDefault(listData[i].RowData[44], 0);
                mHopRanhThang.MuMoThotTren_CdTuong = ParseDoubleOrDefault(listData[i].RowData[45], 0);
                mHopRanhThang.HinhThucDauNoi1_Loai = ParseDoubleOrDefault(listData[i].RowData[46], 0);
                mHopRanhThang.HinhThucDauNoi1_CanhDai = ParseDoubleOrDefault(listData[i].RowData[47], 0);
                mHopRanhThang.HinhThucDauNoi1_CanhRong = ParseDoubleOrDefault(listData[i].RowData[48], 0);
                mHopRanhThang.HinhThucDauNoi1_CanhCheo = ParseDoubleOrDefault(listData[i].RowData[49], 0);
                mHopRanhThang.HinhThucDauNoi2_Loai = ParseDoubleOrDefault(listData[i].RowData[50], 0);
                mHopRanhThang.HinhThucDauNoi2_CanhDai = ParseDoubleOrDefault(listData[i].RowData[51], 0);
                mHopRanhThang.HinhThucDauNoi2_CanhRong = ParseDoubleOrDefault(listData[i].RowData[52], 0);
                mHopRanhThang.HinhThucDauNoi2_CanhCheo = ParseDoubleOrDefault(listData[i].RowData[53], 0);
                mHopRanhThang.HinhThucDauNoi3_Loai = ParseDoubleOrDefault(listData[i].RowData[54], 0);
                mHopRanhThang.HinhThucDauNoi3_CanhDai = ParseDoubleOrDefault(listData[i].RowData[55], 0);
                mHopRanhThang.HinhThucDauNoi3_CanhRong = ParseDoubleOrDefault(listData[i].RowData[56], 0);
                mHopRanhThang.HinhThucDauNoi3_CanhCheo = ParseDoubleOrDefault(listData[i].RowData[57], 0);
                mHopRanhThang.HinhThucDauNoi4_Loai = ParseDoubleOrDefault(listData[i].RowData[58], 0);
                mHopRanhThang.HinhThucDauNoi4_CanhDai = ParseDoubleOrDefault(listData[i].RowData[59], 0);
                mHopRanhThang.HinhThucDauNoi4_CanhRong = ParseDoubleOrDefault(listData[i].RowData[60], 0);
                mHopRanhThang.HinhThucDauNoi4_CanhCheo = ParseDoubleOrDefault(listData[i].RowData[61], 0);
                mHopRanhThang.HinhThucDauNoi5_Loai = ParseDoubleOrDefault(listData[i].RowData[62], 0);
                mHopRanhThang.HinhThucDauNoi5_CanhDai = ParseDoubleOrDefault(listData[i].RowData[63], 0);
                mHopRanhThang.HinhThucDauNoi5_CanhRong = ParseDoubleOrDefault(listData[i].RowData[64], 0);
                mHopRanhThang.HinhThucDauNoi5_CanhCheo = ParseDoubleOrDefault(listData[i].RowData[65], 0);
                mHopRanhThang.HinhThucDauNoi6_Loai = ParseDoubleOrDefault(listData[i].RowData[66], 0);
                mHopRanhThang.HinhThucDauNoi6_CanhDai = ParseDoubleOrDefault(listData[i].RowData[67], 0);
                mHopRanhThang.HinhThucDauNoi6_CanhRong = ParseDoubleOrDefault(listData[i].RowData[68], 0);
                mHopRanhThang.HinhThucDauNoi6_CanhCheo = ParseDoubleOrDefault(listData[i].RowData[69], 0);
                mHopRanhThang.HinhThucDauNoi7_Loai = ParseDoubleOrDefault(listData[i].RowData[70], 0);
                mHopRanhThang.HinhThucDauNoi7_CanhDai = ParseDoubleOrDefault(listData[i].RowData[71], 0);
                mHopRanhThang.HinhThucDauNoi7_CanhRong = ParseDoubleOrDefault(listData[i].RowData[72], 0);
                mHopRanhThang.HinhThucDauNoi7_CanhCheo = ParseDoubleOrDefault(listData[i].RowData[73], 0);
                mHopRanhThang.HinhThucDauNoi8_Loai = ParseDoubleOrDefault(listData[i].RowData[74], 0);
                mHopRanhThang.HinhThucDauNoi8_CanhDai = ParseDoubleOrDefault(listData[i].RowData[75], 0);
                mHopRanhThang.HinhThucDauNoi8_CanhRong = ParseDoubleOrDefault(listData[i].RowData[76], 0);
                mHopRanhThang.HinhThucDauNoi8_CanhCheo = ParseDoubleOrDefault(listData[i].RowData[77], 0);
                mHopRanhThang.ThongTinTamDanHoGa2_PhanLoaiDayHoGa = listData[i].RowData[78].ToString() ?? "";
                mHopRanhThang.ThongTinTamDanHoGa2_HinhThucDayHoGa =  await DanhMucRepository.GetIdDMByTen(listData[i].RowData[79].ToString() ?? "");
                mHopRanhThang.ThongTinTamDanHoGa2_DuongKinh = ParseDoubleOrDefault(listData[i].RowData[80], 0);
                mHopRanhThang.ThongTinTamDanHoGa2_ChieuDay = ParseDoubleOrDefault(listData[i].RowData[81], 0);
                mHopRanhThang.ThongTinTamDanHoGa2_D = ParseDoubleOrDefault(listData[i].RowData[82], 0);
                mHopRanhThang.ThongTinTamDanHoGa2_R = ParseDoubleOrDefault(listData[i].RowData[83], 0);
                mHopRanhThang.ThongTinTamDanHoGa2_C = ParseDoubleOrDefault(listData[i].RowData[84], 0);
                mHopRanhThang.ThongTinTamDanHoGa2_SoLuongNapDay = ParseIntOrDefault(listData[i].RowData[85], 0);
                mHopRanhThang.ThongTinVatLieuDaoHoGa_LoaiVatLieuDao =  await DanhMucRepository.GetIdDMByTen(listData[i].RowData[86].ToString() ?? "");
                mHopRanhThang.ThongTinVatLieuDaoHoGa_ChieuCaoDaoDa = ParseDoubleOrDefault(listData[i].RowData[87], 0);
                mHopRanhThang.ThongTinCaoDoHoGa_CaoDoTuNhien = ParseDoubleOrDefault(listData[i].RowData[90], 0);
                mHopRanhThang.ThongTinCaoDoHoGa_CdDinhViaHeHoanThien = ParseDoubleOrDefault(listData[i].RowData[91], 0);
                mHopRanhThang.ThongTinCaoDoHoGa_CaoDoDinhK98 = ParseDoubleOrDefault(listData[i].RowData[92], 0);
                mHopRanhThang.ThongTinCaoDoHoGa_CdDayHoGa = ParseDoubleOrDefault(listData[i].RowData[98], 0);
                mHopRanhThang.ThongTinCaoDoHoGa_CdDinhHoGa = ParseDoubleOrDefault(listData[i].RowData[104], 0);
                mHopRanhThang.ThongTinMaiDao_ChieuRongDayDaoNho = ParseDoubleOrDefault(listData[i].RowData[118], 0);
                mHopRanhThang.ThongTinMaiDao_TyLeMoMai = ParseDoubleOrDefault(listData[i].RowData[119], 0);
                mHopRanhThang.ThongTinMaiDao_SoCanhMaiTrai = ParseIntOrDefault(listData[i].RowData[120], 0);
                mHopRanhThang.ThongTinMaiDao_SoCanhMaiPhai = ParseIntOrDefault(listData[i].RowData[121], 0);
                mHopRanhThang.ToaDoX = ParseDoubleOrDefault(listData[i].RowData[139], 0);
                mHopRanhThang.ToaDoY = ParseDoubleOrDefault(listData[i].RowData[140], 0);
                mHopRanhThang.ThongTinLyTrinhTruyenDan_TuLyTrinh = ParseDoubleOrDefault(listData[i].RowData[141], 0);
                mHopRanhThang.ThongTinLyTrinhTruyenDan_DenLyTrinh = ParseDoubleOrDefault(listData[i].RowData[142], 0);
                mHopRanhThang.ThongTinLyTrinhTruyenDan_TuHoGa = listData[i].RowData[143].ToString() ?? "";
                mHopRanhThang.ThongTinLyTrinhTruyenDan_DenHoGa = listData[i].RowData[144].ToString() ?? "";
                mHopRanhThang.ThongTinDuongTruyenDan_HinhThucTruyenDan =  await DanhMucRepository.GetIdDMByTen(listData[i].RowData[145].ToString() ?? "");
                mHopRanhThang.ThongTinDuongTruyenDan_LoaiTruyenDan =  await DanhMucRepository.GetIdDMByTen(listData[i].RowData[146].ToString() ?? "");
                mHopRanhThang.ThongTinDuongTruyenDan_TenLoaiTruyenDanSauPhanLoai = listData[i].RowData[147].ToString() ?? "";
                mHopRanhThang.TTCDSLCauKienDuongTruyenDan_ChieuDai01CauKien = ParseDoubleOrDefault(listData[i].RowData[148], 0);
                mHopRanhThang.TTCDSLCauKienDuongTruyenDan_ChieuDaiMoiNoiCKien = ParseDoubleOrDefault(listData[i].RowData[149], 0);
                mHopRanhThang.TTCDSLCauKienDuongTruyenDan_SoLuongCKienDungDeTinhChieuDaiBoSung = ParseIntOrDefault(listData[i].RowData[150], 0);
                mHopRanhThang.TTCDSLCauKienDuongTruyenDan_TongChieuDai = ParseDoubleOrDefault(listData[i].RowData[151], 0);
                mHopRanhThang.ThongTinMongDuongTruyenDan_PhanLoaiMongCongTronCongHop =  await DanhMucRepository.GetIdDMByTen(listData[i].RowData[159].ToString() ?? "");
                mHopRanhThang.ThongTinMongDuongTruyenDan_LoaiMong =  await DanhMucRepository.GetIdDMByTen(listData[i].RowData[160].ToString() ?? "");
                mHopRanhThang.ThongTinMongDuongTruyenDan_HinhThucMong =  await DanhMucRepository.GetIdDMByTen(listData[i].RowData[161].ToString() ?? "");
                mHopRanhThang.ThongTinDeCong_TenLoaiDeCong = listData[i].RowData[162].ToString() ?? "";
                mHopRanhThang.ThongTinDeCong_CauTaoDeCong =  await DanhMucRepository.GetIdDMByTen(listData[i].RowData[163].ToString() ?? "");
                mHopRanhThang.ThongTinDeCong_D = ParseDoubleOrDefault(listData[i].RowData[164], 0);
                mHopRanhThang.ThongTinDeCong_R = ParseDoubleOrDefault(listData[i].RowData[165], 0);
                mHopRanhThang.ThongTinDeCong_C = ParseDoubleOrDefault(listData[i].RowData[166], 0);
                mHopRanhThang.ThongTinDeCong_SlDeCong01CauKienTruyenDan = ParseDoubleOrDefault(listData[i].RowData[167], 0);
                mHopRanhThang.ThongTinDeCong_Kl01DeCong = ParseDoubleOrDefault(listData[i].RowData[168], 0);
                mHopRanhThang.ThongTinCauTaoCongTron_CDayPhuBi = ParseDoubleOrDefault(listData[i].RowData[171], 0);
                mHopRanhThang.ThongTinCauTaoCongTron_SoCanh = ParseDoubleOrDefault(listData[i].RowData[172], 0);
                mHopRanhThang.ThongTinCauTaoCongTron_LongSuDung = ParseDoubleOrDefault(listData[i].RowData[173], 0);
                mHopRanhThang.ThongTinCauTaoCongTron_CCaoLotMong = ParseDoubleOrDefault(listData[i].RowData[175], 0);
                mHopRanhThang.ThongTinCauTaoCongTron_CRongLotMong = ParseDoubleOrDefault(listData[i].RowData[176], 0);
                mHopRanhThang.ThongTinCauTaoCongTron_CCaoMong = ParseDoubleOrDefault(listData[i].RowData[177], 0);
                mHopRanhThang.ThongTinCauTaoCongTron_CRongMong = ParseDoubleOrDefault(listData[i].RowData[178], 0);
                mHopRanhThang.ThongTinCauTaoCongTron_CCaoDe = ParseDoubleOrDefault(listData[i].RowData[179], 0);
                mHopRanhThang.TTKTHHCongHopRanh_CauTaoTuong =  await DanhMucRepository.GetIdDMByTen(listData[i].RowData[181].ToString() ?? "");
                mHopRanhThang.TTKTHHCongHopRanh_CauTaoMuMo =  await DanhMucRepository.GetIdDMByTen(listData[i].RowData[182].ToString() ?? "");
                mHopRanhThang.TTKTHHCongHopRanh_ChatMatTrong =  await DanhMucRepository.GetIdDMByTen(listData[i].RowData[183].ToString() ?? "");
                mHopRanhThang.TTKTHHCongHopRanh_ChatMatNgoai =  await DanhMucRepository.GetIdDMByTen(listData[i].RowData[184].ToString() ?? "0");
                mHopRanhThang.TTKTHHCongHopRanh_CCaoLotMong = ParseDoubleOrDefault(listData[i].RowData[185], 0);
                mHopRanhThang.TTKTHHCongHopRanh_CRongLotMong = ParseDoubleOrDefault(listData[i].RowData[186], 0);
                mHopRanhThang.TTKTHHCongHopRanh_CCaoMong = ParseDoubleOrDefault(listData[i].RowData[187], 0);
                mHopRanhThang.TTKTHHCongHopRanh_CRongMong = ParseDoubleOrDefault(listData[i].RowData[188], 0);
                mHopRanhThang.TTKTHHCongHopRanh_CCaoDe = ParseDoubleOrDefault(listData[i].RowData[189], 0);
                mHopRanhThang.TTKTHHCongHopRanh_CRongDe = ParseDoubleOrDefault(listData[i].RowData[190], 0);
                mHopRanhThang.TTKTHHCongHopRanh_CDayTuong01Ben = ParseDoubleOrDefault(listData[i].RowData[191], 0);
                mHopRanhThang.TTKTHHCongHopRanh_SoLuongTuong = ParseDoubleOrDefault(listData[i].RowData[192], 0);
                mHopRanhThang.TTKTHHCongHopRanh_CRongLongSuDung = ParseDoubleOrDefault(listData[i].RowData[193], 0);
                mHopRanhThang.TTKTHHCongHopRanh_CCaoTuongCongHop = ParseDoubleOrDefault(listData[i].RowData[194], 0);
                mHopRanhThang.TTKTHHCongHopRanh_CCaoMuMoThotDuoi = ParseDoubleOrDefault(listData[i].RowData[197], 0);
                mHopRanhThang.TTKTHHCongHopRanh_CRongMuMoDuoi = ParseDoubleOrDefault(listData[i].RowData[198], 0);
                mHopRanhThang.TTKTHHCongHopRanh_CCaoMuMoThotTren = ParseDoubleOrDefault(listData[i].RowData[199], 0);
                mHopRanhThang.TTKTHHCongHopRanh_CRongMuMoTren = ParseDoubleOrDefault(listData[i].RowData[200], 0);
                mHopRanhThang.TTKTHHCongHopRanh_LoaiThanhChong = listData[i].RowData[201].ToString() ?? "";
                mHopRanhThang.TTKTHHCongHopRanh_CauTaoThanhChong =  await DanhMucRepository.GetIdDMByTen(listData[i].RowData[202].ToString() ?? "0");
                mHopRanhThang.TTKTHHCongHopRanh_CCaoThanhChong = ParseDoubleOrDefault(listData[i].RowData[203], 0);
                mHopRanhThang.TTKTHHCongHopRanh_CRongThanhChong = ParseDoubleOrDefault(listData[i].RowData[204], 0);
                mHopRanhThang.TTKTHHCongHopRanh_CDai = ParseDoubleOrDefault(listData[i].RowData[205], 0);
                mHopRanhThang.TTKTHHCongHopRanh_SoLuongThanhChong = ParseDoubleOrDefault(listData[i].RowData[206], 0);
                mHopRanhThang.ThongTinKichThuocHinhHocOngNhua_CDayPhuBi = ParseDoubleOrDefault(listData[i].RowData[210], 0);
                mHopRanhThang.ThongTinKichThuocHinhHocOngNhua_SoCanh = ParseIntOrDefault(listData[i].RowData[212], 0);
                mHopRanhThang.ThongTinKichThuocHinhHocOngNhua_LongSuDung = ParseDoubleOrDefault(listData[i].RowData[213], 0);
                mHopRanhThang.ThongTinKichThuocHinhHocOngNhua_CCaoDemCat = ParseDoubleOrDefault(listData[i].RowData[214], 0);
                mHopRanhThang.ThongTinKichThuocHinhHocOngNhua_CCaoDapCat = ParseDoubleOrDefault(listData[i].RowData[215], 0);
                mHopRanhThang.ThongTinRanhThang_HinhThucMai = listData[i].RowData[216].ToString() ?? "";
                mHopRanhThang.ThongTinRanhThang_CauTaoChanKhay = listData[i].RowData[217].ToString() ?? "";
                mHopRanhThang.ThongTinRanhThang_CauTaoGiangDinh = listData[i].RowData[218].ToString() ?? "";
                mHopRanhThang.ThongTinRanhThang_HinhThucHanhLangBaoVe = listData[i].RowData[219].ToString() ?? "";
                mHopRanhThang.ThongTinRanhThang_PhanLoaiChanKhay = listData[i].RowData[220].ToString() ?? "";
                mHopRanhThang.ThongTinRanhThang_CCaoLotChanKhay = ParseDoubleOrDefault(listData[i].RowData[221], 0);
                mHopRanhThang.ThongTinRanhThang_CRongLotChanKhay = ParseDoubleOrDefault(listData[i].RowData[222], 0);
                mHopRanhThang.ThongTinRanhThang_SoLuongLotChanKhay = ParseDoubleOrDefault(listData[i].RowData[223], 0);
                mHopRanhThang.ThongTinRanhThang_CCaoMongChanKhay = ParseDoubleOrDefault(listData[i].RowData[224], 0);
                mHopRanhThang.ThongTinRanhThang_CRongMongChanKhay = ParseDoubleOrDefault(listData[i].RowData[225], 0);
                mHopRanhThang.ThongTinRanhThang_SoLuongMongChanKhay = ParseIntOrDefault(listData[i].RowData[226], 0);
                mHopRanhThang.ThongTinRanhThang_CCaoLot = ParseDoubleOrDefault(listData[i].RowData[227], 0);
                mHopRanhThang.ThongTinRanhThang_CRongLot = ParseDoubleOrDefault(listData[i].RowData[228], 0);
                mHopRanhThang.ThongTinRanhThang_CCaoMong = ParseDoubleOrDefault(listData[i].RowData[229], 0);
                mHopRanhThang.ThongTinRanhThang_CRongMong = ParseDoubleOrDefault(listData[i].RowData[230], 0);
                mHopRanhThang.ThongTinRanhThang_PhanLoaiMai = listData[i].RowData[231].ToString() ?? "0";
                mHopRanhThang.ThongTinRanhThang_CRongMai = ParseDoubleOrDefault(listData[i].RowData[232], 0);
                mHopRanhThang.ThongTinRanhThang_CDayMai = ParseDoubleOrDefault(listData[i].RowData[233], 0);
                mHopRanhThang.ThongTinRanhThang_SoLuongMai = ParseIntOrDefault(listData[i].RowData[234], 0);
                mHopRanhThang.ThongTinRanhThang_PhanLoaiGiangDinh = listData[i].RowData[235].ToString() ?? "";
                mHopRanhThang.ThongTinRanhThang_CCaoLotGiangDinh = ParseDoubleOrDefault(listData[i].RowData[236], 0);
                mHopRanhThang.ThongTinRanhThang_CRongLotGiangDinh = ParseDoubleOrDefault(listData[i].RowData[237], 0);
                mHopRanhThang.ThongTinRanhThang_SoLuongLotGiangDinh = ParseIntOrDefault(listData[i].RowData[238], 0);
                mHopRanhThang.ThongTinRanhThang_CCaoMongGiangDinh = ParseDoubleOrDefault(listData[i].RowData[239], 0);
                mHopRanhThang.ThongTinRanhThang_CRongMongGiangDinh = ParseDoubleOrDefault(listData[i].RowData[240], 0);
                mHopRanhThang.ThongTinRanhThang_SoLuongMongGiangDinh = ParseDoubleOrDefault(listData[i].RowData[241], 0);
                mHopRanhThang.ThongTinRanhThang_PhanLoaiHanhLangBaoVe = listData[i].RowData[242].ToString() ?? "";
                mHopRanhThang.ThongTinRanhThang_CCaoHanhLangBaoVe = ParseDoubleOrDefault(listData[i].RowData[243], 0);
                mHopRanhThang.ThongTinRanhThang_CRongHanhLangBaoVe = ParseDoubleOrDefault(listData[i].RowData[244], 0);
                mHopRanhThang.ThongTinRanhThang_SoLuongHangLangBaoVe = ParseIntOrDefault(listData[i].RowData[245], 0);
                mHopRanhThang.TTTDCongHoRanh_TenLoaiTamDanTieuChuan = listData[i].RowData[246].ToString() ?? "";
                mHopRanhThang.TTTDCongHoRanh_CauTaoTamDanTruyenDanTamDanTieuChuan =  await DanhMucRepository.GetIdDMByTen(listData[i].RowData[247].ToString() ?? "");
                mHopRanhThang.TTTDCongHoRanh_CDai = ParseDoubleOrDefault(listData[i].RowData[249], 0);
                mHopRanhThang.TTTDCongHoRanh_CRong = ParseDoubleOrDefault(listData[i].RowData[250], 0);
                mHopRanhThang.TTTDCongHoRanh_CCao = ParseDoubleOrDefault(listData[i].RowData[251], 0);
                mHopRanhThang.TTTDCongHoRanh_TenLoaiTamDanLoai02 = listData[i].RowData[252].ToString() ?? "";
                mHopRanhThang.TTTDCongHoRanh_CauTaoTamDanTruyenDan = await DanhMucRepository.GetIdDMByTen(listData[i].RowData[253].ToString() ?? "");
                mHopRanhThang.TTTDCongHoRanh_CRong1 = ParseDoubleOrDefault(listData[i].RowData[256], 0);
                mHopRanhThang.TTTDCongHoRanh_CCao1 = ParseDoubleOrDefault(listData[i].RowData[257], 0);
                mHopRanhThang.TTTDCongHoRanh_ChieuDaiMoiNoi = ParseDoubleOrDefault(listData[i].RowData[258], 0);
                mHopRanhThang.TTTDCongHoRanh_SoLuongTDanDungDeTinhChieuDaiBoSung = ParseIntOrDefault(listData[i].RowData[259], 0);
                mHopRanhThang.CDThuongLuu_HienTrangTruocKhiDaoThuongLuu = ParseDoubleOrDefault(listData[i].RowData[265], 0);
                mHopRanhThang.CDThuongLuu_DayDongChay = ParseDoubleOrDefault(listData[i].RowData[290], 0);
                mHopRanhThang.CDThuongLuu_DinhTrongLongSuDung = ParseDoubleOrDefault(listData[i].RowData[296], 0);
                mHopRanhThang.CDThuongLuu_ChieuCaoRanhThangTuDayDongChayDenDinh = ParseDoubleOrDefault(listData[i].RowData[302], 0);
                mHopRanhThang.CDHaLu_HienTrangTruocKhiDaoHaLuu = ParseDoubleOrDefault(listData[i].RowData[304], 0);
                mHopRanhThang.CDHaLu_DayDongChay = ParseDoubleOrDefault(listData[i].RowData[329], 0);
                mHopRanhThang.CDHaLu_DinhTrongLongSuDung = ParseDoubleOrDefault(listData[i].RowData[335], 0);
                mHopRanhThang.CDHaLu_ChieuCaoRanhThangTuDayDongChayDenDinh = ParseDoubleOrDefault(listData[i].RowData[341], 0);
                mHopRanhThang.TTVLDCongRanh_LoaiVatLieuDao =  await DanhMucRepository.GetIdDMByTen(listData[i].RowData[343].ToString() ?? "");
                mHopRanhThang.TTVLDCongRanh_TLChieuCaoDaoDa = ParseDoubleOrDefault(listData[i].RowData[344], 0);
                mHopRanhThang.TTVLDCongRanh_HLChieuCaoDaoDa = ParseDoubleOrDefault(listData[i].RowData[347], 0);
                mHopRanhThang.TTMDRanhOngThang_ChieuRongDayDaoNho = ParseDoubleOrDefault(listData[i].RowData[422], 0);
                mHopRanhThang.TTMDRanhOngThang_TyLeMoMai = ParseDoubleOrDefault(listData[i].RowData[423], 0);
                mHopRanhThang.TTMDRanhOngThang_SoCanhMaiTrai = ParseDoubleOrDefault(listData[i].RowData[424], 0);
                mHopRanhThang.TTMDRanhOngThang_SoCanhMaiPhai = ParseDoubleOrDefault(listData[i].RowData[425], 0);
                mHopRanhThang.TTMDRanhOngThang_ChieuRongDayDaoNho1 = ParseDoubleOrDefault(listData[i].RowData[426], 0);
                mHopRanhThang.TTMDRanhOngThang_TyLeMoMai1 = ParseDoubleOrDefault(listData[i].RowData[427], 0);
                mHopRanhThang.TTMDRanhOngThang_SoCanhMaiTrai1 = ParseIntOrDefault(listData[i].RowData[428], 0);
                mHopRanhThang.TTMDRanhOngThang_SoCanhMaiPhai1 = ParseDoubleOrDefault(listData[i].RowData[429], 0);
                mHopRanhThang.TuToaDoX = ParseDoubleOrDefault(listData[i].RowData[489], 0);
                mHopRanhThang.TuToaDoY = ParseDoubleOrDefault(listData[i].RowData[490], 0);
                mHopRanhThang.DenToaDoX = ParseDoubleOrDefault(listData[i].RowData[491], 0);
                mHopRanhThang.DenToaDoY = ParseDoubleOrDefault(listData[i].RowData[492], 0);

                listHRT.Add(mHopRanhThang);
            }


            return listHRT;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            throw;
        }
    }


    public static double ParseDoubleOrDefault(object input, double defaultValue = 0)
    {
        string value = input?.ToString() ?? "";
        if (string.IsNullOrWhiteSpace(value))
        {
            return defaultValue;
        }
        if (double.TryParse(value, out double result))
        {
            return result;
        }
        return defaultValue;
    }

    public static int ParseIntOrDefault(object input, int defaultValue = 0)
    {
        string value = input?.ToString() ?? "";
        if (string.IsNullOrWhiteSpace(value))
        {
            return defaultValue;
        }

        if (int.TryParse(value.Trim(), out int result))
        {
            return result;
        }

        return defaultValue;
    }


}
