@page "/NghiepVuCongtrinh/listThoatNuocMua"
@using DucAnhERP.ViewModel
@using DucAnhERP.Models
@using DucAnhERP.Components.Pages.Common
@using System.Linq
@using DucAnhERP.SeedWork
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager navigation
@attribute [Authorize]

<h3>Danh sách thoát nước mưa</h3>

