@page "/NghiepVuCongtrinh/listThoatNuocMua"
@using DucAnhERP.ViewModel
@using DucAnhERP.Models
@using DucAnhERP.Components.Pages.Common
@using System.Linq
@using DucAnhERP.SeedWork
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager navigation
@attribute [Authorize]


<div class="container-fluid">
    <div class="card-header">
        <h3>Danh sách thoát nước mưa</h3>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th rowspan="2">STT</th>
                    <th colspan="2">Thông tin lý trình</th>
                    <th colspan="3">Thông tin chung hố ga</th>
                    <th colspan="4">Thông tin kích thước hình học hố ga</th>
                </tr>
                <tr>
                    <th>Tuyến đường</th>
                    <th>Lý trình tại tim hố ga</th>
                    <th>Tên hố ga sau phân loại</th>
                    <th>C.Dài (m)</th>
                    <th>C.rộng (m)</th>
                    <th>CD tường (m)</th>
                </tr>
               
            </thead>
            <tbody>
                <!-- Dữ liệu của bạn sẽ được thêm vào đây -->
            </tbody>
        </table>

    </div>
</div>
