@page "/NghiepVuCongtrinh/Test"
@using DucAnhERP.ViewModel
@using DucAnhERP.Models
@using DucAnhERP.Components.Pages.Common
@using System.Linq
@using DucAnhERP.SeedWork
@using Microsoft.AspNetCore.Authorization
@using DucAnhERP.Helpers
@inject NavigationManager navigation
@inject IHopRanhThangRepository HopRanhThangRepository
@inject IDanhMucRepository DanhMucRepository
@inject DucAnhERP.Services.ToastService ToastService
@attribute [Authorize]

<div class="container-fluid">
    
</div>
@code{
   
}
